<div class="card shadow mb-4" id="ShowProcessesId">
    <div class="card-header py-2">
        <div class="row align-items-center">
            <div class="col">
                <h5 class="m-0">Missing University Fields Report</h5>
            </div>
            <div class="col-auto">
                <div class="card-ctrls border-left d-inline-flex align-items-center ml-2">
                    <h4>Total No Of University:{{totaluniversity}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive" id="displayUniversityRecords">
        <table class="table table-striped">
            <thead class="text-uppercase">
                <tr>
                    <th>Missing Fields</th>
                    <th>No.Of Collages</th>
                    <th>Percantage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a [routerLink]="['managemissingfield','country' | encdec :'enc',mcountrycnt | encdec:'enc']">Country</a></td>
                    <td>{{mcountrycnt}}</td>
                    <td>{{countryper | number : '1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','city' | encdec :'enc',mcitycnt | encdec:'enc']">City</a></td>
                    <td>{{mcitycnt}}</td>
                    <td>{{cityper | number : '1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','state' | encdec :'enc',mstatecnt | encdec:'enc']">State</a></td>
                    <td>{{mstatecnt}}</td>
                    <td>{{stateper  | number : '1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','postcode' | encdec :'enc',mpostcodecnt | encdec:'enc']">Postcode</a></td>
                    <td>{{ mpostcodecnt }}</td>
                    <td>{{this.potscodeper | number : '1.2-2' }}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','cricosproviderno' | encdec :'enc',mcricoscnt | encdec:'enc']">CricosProviderNo</a></td>
                    <td>{{mcricoscnt}}</td>
                    <td>{{cricosper | number :'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','virtualtoururl' | encdec :'enc',mvtour | encdec:'enc']">VirtualTourUrl</a>
                    </td>
                    <td>{{mvtour}}</td>
                    <td>{{ vtourper | number :'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','placeid' | encdec :'enc',mplaceid | encdec:'enc']">Placeid</a>
                    </td>
                    <td>{{mplaceid}}</td>
                    <td>{{ placeidper | number :'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','facebookpage' | encdec:'enc',mfbcnt | encdec:'enc']">FaceBookPage</a></td>
                    <td>{{mfbcnt}}</td>
                    <td>{{fbpageper | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','youtubepage' | encdec:'enc',myoutubecnt | encdec:'enc']">YoutubePage</a></td>
                    <td>{{myoutubecnt}}</td>
                    <td>{{youtubepageper | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','twitterpage' | encdec:'enc',mtwittercnt | encdec:'enc']">TwitterPage</a></td>
                    <td>{{mtwittercnt}}</td>
                    <td>{{twitterpageper | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','abbrevation' | encdec :'enc',mabbcnt | encdec:'enc']">Abbrevation</a></td>
                    <td>{{mabbcnt}}</td>
                    <td>{{abbper | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','applicationfee' | encdec :'enc',mappfee | encdec:'enc']">Application Fees</a>
                    </td>
                    <td>{{mappfee}}</td>
                    <td>{{appfeeper | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','universitytype' | encdec :'enc',munvtypecnt | encdec:'enc']">University Type</a>
                    </td>
                    <td>{{munvtypecnt}}</td>
                    <td>{{ unvtypeper | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','applicationurl' | encdec :'enc',mappurlcnt | encdec:'enc']">Application Url</a>
                    </td>
                    <td>{{mappurlcnt}}</td>
                    <td>{{appurlper | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','placementurl' | encdec :'enc',mplacementurlcnt | encdec:'enc']">Placement Url</a></td>
                    <td>{{mplacementurlcnt}}</td>
                    <td>{{placementurlper | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <td><a [routerLink]="['managemissingfield','accomodationurl' | encdec :'enc', maccomodationcnt | encdec:'enc']">Accomodation Url</a>
                    </td>
                    <td>{{ maccomodationcnt }}</td>
                    <td>{{accomodationper | number:'1.2-2'}}%</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>