<div *ngIf="coursedata">
  <div class="px-2">
    <div class="row gutter-x-5 mt-2 mb-3">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body p-md-3 p-2">
            <div class="row align-items-center">
              <div class="col-12 col-md-auto text-center">
                <button role="button" aria-label="backtoSearch" (click)="backtoSearch()"
                  class="btn btn-sm btn-rounded btn-secondary">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </button>
              </div>
              <div class="col-12 col-md-auto text-center">
                <!-- <app-sharelink></app-sharelink> -->
                <a [routerLink]="['/program/univ-detail']" [queryParams]="{univid:coursedata.univ_id | encdec :'enc'}">
                  <img alt="logourl" class="img-fluid" style="max-height:70px; max-width: 300px;"
                    [src]="environment.API_URL+'Document/images/'+universitydata.logourl"></a>
              </div>
              <div class="col-12 col-md-auto">
                <h5 class="mb-0"> <a [routerLink]="['/program/univ-detail']"
                    [queryParams]="{univid:coursedata.univ_id | encdec :'enc'}">{{universitydata.name}}</a></h5>
              </div>

              <div class="col">
                <h5 class="bg-light border-left-5 mb-0 p-2 shadow-sm my-2 my-md-0"><a aria-label="course_title"
                    target="_blank" href="{{coursedata.course_url}}">{{coursedata.course_title}}</a></h5>
              </div>
              <div class="col-12 col-md-auto">
                <select aria-label="currencyconvert" class="form-control" data-width="100%" #mySelect
                  [(ngModel)]="setDefaultCurrency" data-style="btn-outline-secondary" title="currencyconvert"
                  style="display: block !important" *ngIf="currencyList && currencyList.length>0"
                  (change)="changeCurrency()">
                  <option *ngFor="let curr of currencyList" value="{{curr.exchangerate}}:{{curr.shortname}}">
                    {{curr.shortname}} ({{curr.fullname}})
                  </option>

                </select>
              </div>
              <div class="col-12 col-md-auto">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ThirdPartyForm">
                  <span class="far fa-envelope mr-2"></span>
                  Inquire Now
                </button>
              </div>
              <div class="col-12 col-md-auto">
                <div class="d-flex justify-content-around">
                  <a appClearValidation [form]="mainform" aria-label="getRelatedCourseData"
                    class="btn btn-icon mr-2 text-color-light-green" data-toggle="collapse" (click)="openInquiryDiv()"
                    style="display: block !important;" aria-controls="collapseExample">
                    <span *ngIf="!loadService.sendmail"><i class="material-icons">
                        email </i></span>
                    <span *ngIf="loadService.sendmail"><i class="fa fa-lg fa-sync fa-refresh"></i></span>
                  </a>

                  <button aria-label="getRelatedCourseData" class="btn btn-icon mr-2" (click)="downloadPdf(false,'','')"
                    [disabled]="loadService.downloadPDF" data-toggle="tooltip" title="" data-original-title="Download">
                    <span *ngIf="!loadService.downloadPDF"><i class="material-icons">
                        cloud_download </i></span>
                    <span *ngIf="loadService.downloadPDF"><i class="fa fa-lg fa-sync fa-refresh"></i></span>
                  </button>



                  <div class="input-group-inside">
                    <div class="input-group-inside input-group-lg shadow border-radius-100">
                      <input aria-label="globalhints_1" type="text" [(ngModel)]="searchstring" placeholder="search.."
                        (keyup)="globalhints($event)" class="form-control pr-4 border-radius-100"
                        (focus)="inputFocusFlag=false;" (focusout)="inputFocusFlag=true;">
                      <div id="hint"
                        *ngIf="!isbuttonclicke && searchhints.coursehint.length>0 || searchhints.universityhint.length>0"
                        [ngClass]="searchstring.lenght>=2 ? '' : 'hidden'" class="card mt-1 hint-wrap"
                        (focus)="divFocusFlag=false;" (focusout)="divFocusFlag=true;">
                        <div class="m-2 ml-3">
                          <div class="input-group bg-white mt-1" *ngFor="let data of searchhints.coursehint">
                            <a aria-label="universitynameid" class="nav-link" style="color: black"
                              (click)="getRelatedCourseData({universityid:data.universitynameid,courseid:data.coursenameid})"
                              [routerLink]="['/program/course-detail',data.universitynameid,universitycampus,data.coursenameid]">
                              <div class="input-group-append">
                                <span style="text-align: left">
                                  {{data.name}}</span>
                              </div>
                            </a>
                          </div>
                          <button role="button" aria-label="ismorepage" *ngIf="searchhints.ismorepage"
                            class="btn btn-outline-primary btn-rounded btn-sm mt-2" (click)="getNextHint()">show
                            more</button>
                        </div>
                      </div>
                      <div class="input-group-inside-append">
                        <button role="button" aria-label="getCourseByFilter" class="btn btn-lg btn-trans"
                          (click)="getCourseByFilter()" type="button">
                          <i class="la la-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-2 collapse" id="collapseExample">
    <form #mainform="ngForm" autocomplete="off" novalidate>
      <div class="card shadow mb-3">
        <div class="card-body">
          <h5 class="card-title">Please fill the details.
          </h5>
          <div class="row">

            <div class="form-group col-md">
              <input data-name="inquiryName" [required]="true" aria-label="inquiryName" type="text" class="form-control"
                [(ngModel)]="inquiryName" name="inquiryName" placeholder="Name*">
            </div>
            <div class="form-group col-md">
              <input data-name="inquiryEmail" [required]="true" aria-label="inquiryEmail" type="email"
                class="form-control" [(ngModel)]="inquiryEmail" name="inquiryEmail" placeholder="Email Id*">
            </div>
            <div class="form-group col-md">
              <input aria-label="inquiryPhone" type="tel" class="form-control" [(ngModel)]="inquiryPhone"
                name="inquiryPhone" placeholder="Phone Number">
            </div>
            <div class="form-group col-md-auto">
              <button appValidation [form]="mainform" aria-label="Submit Inquiry" class="btn btn-primary"
                (click)="sendMailCourseDetail(mainform)">Send Mail</button>
              <button appClearValidation [form]="mainform" [resetform]="true" aria-label="Cancel Inquiry"
                style="margin-left: 5px;" class="btn btn-outline-danger" (click)="openInquiryDiv()">Cancel</button>
            </div>
            <!-- <div class="form-group col-md-auto">
              
            </div> -->
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="px-2 bg-breadcrumb">
    <div class="row gutter-x-5 flex-md-row sticky-sidebar-wrap">
      <!-- mobile side -->
      <div class="col-md-2 d-block d-md-none">
        <div class="card mb-3">
          <div class="card-body px-1 px-md-2 py-1">
            <div class="media border-bottom py-2">
              <i class="la la-clock-o align-self-center mr-3 la-2x text-color-cyan"></i>
              <div class="media-body">
                <div class="h6 mb-1">
                  Duration
                </div>
                <span *ngIf="coursedata.course_duration_display.length>0">
                  <span *ngFor='let durationDisplay of coursedata.course_duration_display'>
                    <p class="text-muted"> {{durationDisplay.duration}} {{durationDisplay.unit}}
                      {{durationDisplay.display}}</p>
                  </span>
                </span>

                <span *ngIf="coursedata.course_duration_display.length == 0">
                  sdc
                  <p class="text-muted">Visit the programme website for more information
                    <a aria-label="course_url" target="_blank" href="{{coursedata.course_url}}">Click</a></p>
                </span>
              </div>
            </div>
            <div class="media border-bottom py-2">
              <i class="la la-money align-self-center mr-3 la-2x text-success"></i>
              <div class="media-body">
                <div class="h6 mb-1">
                  Tuition Fee
                </div>
                <ng-container *ngFor="let feeData of coursedata.course_tuition_fee.fees">
                  <span *ngIf="feeData.name.toLowerCase()==universitycampus.toLowerCase()">
                    <span *ngFor="let fee of feeData.value.international_student">
                      <p class="text-muted" *ngIf="fee.amount == 0">Not Available</p>
                      <p class="text-muted" *ngIf="fee.amount != 0"> {{fee.amount}} {{feeData.value.currency}}</p>
                    </span>
                  </span>
                </ng-container>

              </div>
            </div>
            <div class="media border-bottom py-2">
              <i class="la la-map-marker align-self-center mr-3 la-2x text-color-teal"></i>
              <div class="media-body">
                <div class="h6 mb-1">
                  Location
                </div>
                <!-- <span *ngFor='let campus of coursedata.course_campus_location'> -->
                <span *ngIf='universitycampus && universitycampus.length>0'>
                  <p class="text-muted">{{universitycampus}}</p>
                </span>

                <!-- </span> -->
              </div>
            </div>
            <div class="media border-bottom py-2" *ngIf='coursedata.course_intake.intake.length > 0'>
              <i class="la la-calendar align-self-center mr-3 la-2x text-secondary"></i>
              <div class="media-body">
                <div class="h6 mb-1">
                  Intake Date
                </div>
                <span *ngIf="coursedata.course_intake.intake.length>0">
                  <span *ngFor='let intakeDate1 of coursedata.course_intake.intake'>
                    <span *ngIf="intakeDate1.name.toLowerCase() == universitycampus.toLowerCase()">
                      <span *ngFor="let intake of intakeDate1.value">
                        <ng-container *ngIf="intake.actualdate == 'anytime'">
                          <p class="text-muted">anytime</p>
                        </ng-container>
                        <ng-container *ngIf="intake.actualdate != 'anytime'">
                          <p class="text-muted">{{intake.filterdate | date:'longDate'}}</p>
                        </ng-container>

                      </span>

                    </span>
                  </span>
                </span>
                <span *ngIf="coursedata.course_intake.intake.length==0">
                  <p class="mb-0">Visit the programme website for more information related to Intakes
                    <a aria-label="more_details" target="_blank"
                      href="{{coursedata.course_intake.more_details}}">Click</a>
                  </p>
                </span>

              </div>

            </div>
            <div class="media border-bottom py-2" *ngIf='coursedata.course_cricos_code.length > 0'>
              <i class="la la-code align-self-center mr-3 la-2x text-secondary"></i>
              <div class="media-body">
                <div class="h6 mb-1">
                  Cricos Code
                </div>
                <span *ngFor='let cricos of coursedata.course_cricos_code'>
                  <span *ngIf='cricos.iscurrent == true'>
                    <p class="text-muted">{{cricos.code}}</p>
                  </span>
                </span>
              </div>
            </div>
            <!--  -->
            <div class="media border-bottom py-2">
              <!-- <i class="fa fa-lg fa-code"></i> -->
              <i class="la la-code align-self-center mr-3 la-2x text-secondary"></i>
              <div class="media-body">
                <div class="h6 mb-1">
                  Program Code
                </div>

                <span *ngIf='coursedata.program_code.length > 0'>
                  <p class="text-muted">{{coursedata.program_code}}</p>
                </span>
                <span *ngIf='coursedata.program_code.length == 0'>
                  <p class="text-muted">Visit the programme website for more information
                    <a aria-label="course_url_1" target="_blank" href="{{coursedata.course_url}}">Click</a></p>
                </span>

              </div>
            </div>
            <!--Favorite -->
            <!--*ngIf="userid>0"-->
            <div class="media border-bottom py-2" *ngIf="!favoriteHide">
              <a aria-label="AddtoFavourite" class="btn btn-icon mr-2 text-danger" title=""
                (click)="AddtoFavourite(cid)" data-toggle="modal" data-target="#myModalfavorite"><i
                  class="material-icons" *ngIf="check">
                  favorite_border
                </i><i class="material-icons" *ngIf="!check">
                  favorite
                </i>
              </a>
              <div class="media-body">
                <div class="h6 mb-1">
                  Favorite
                  <span class="h5">{{this.favcnt[0].cnt | shortNumber}}</span>
                </div>
              </div>
            </div>

            <!--No of Visitors-->
            <div class="media border-bottom py-2" *ngIf="!favoriteHide">

              <i class="fa fa-eye align-self-center mr-3 la-2x text-secondary"></i>
              <div class="media-body">
                <div class="h6 mb-1">
                  No Of Visitor
                  <span class="h5">{{this.visitcnt[0].visitcounts | shortNumber}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile side -->
      <div class="col-md-2">
        <div class="sticky-sidebar" style="position: relative; z-index: 999;">
          <div class="d-none d-md-block sticky-sidebar-inner">
            <div class="card mb-3">
              <div class="card-body px-1 px-md-2 py-1">
                <div class="media border-bottom py-2">
                  <i class="la la-clock-o align-self-center mr-3 la-2x text-color-cyan"></i>
                  <div class="media-body">
                    <div class="h6 mb-1">
                      Duration
                    </div>
                    <span *ngIf="coursedata.course_duration_display.length > 0">
                      <span *ngFor='let durationDisplay of coursedata.course_duration_display'>
                        <p class="text-muted"> {{durationDisplay.duration}} {{durationDisplay.unit}}
                          {{durationDisplay.display}}</p>
                      </span>
                    </span>
                    <span *ngIf="coursedata.course_duration_display.length == 0">
                      <p class="text-muted">Visit the programme website for more information
                        <a aria-label="course_url_2" target="_blank" href="{{coursedata.course_url}}">Click</a>
                      </p>
                    </span>
                  </div>
                </div>
                <div class="media border-bottom py-2">
                  <i class="la la-money align-self-center mr-3 la-2x text-success"></i>
                  <div class="media-body">
                    <div class="h6 mb-1">
                      Tuition Fee
                    </div>
                    <ng-container *ngFor="let feeData of coursedata.course_tuition_fee.fees">
                      <span *ngIf="feeData.name.toLowerCase()==universitycampus.toLowerCase()">
                        <span *ngFor="let fee of feeData.value.international_student">
                          <p class="text-muted" *ngIf="fee.amount != 0">{{fee.amount}} {{feeData.value.currency}}
                          </p>
                          <p class="text-muted" *ngIf="fee.amount == 0">Not Available</p>
                        </span>
                      </span>
                    </ng-container>
                  </div>
                </div>
                <div class="media border-bottom py-2">
                  <i class="la la-map-marker align-self-center mr-3 la-2x text-color-teal"></i>
                  <div class="media-body">
                    <div class="h6 mb-1">
                      Location
                    </div>
                    <!-- <span *ngFor='let campus of coursedata.course_campus_location'> -->
                    <span *ngIf='universitycampus && universitycampus.length>0'>
                      <p class="text-muted">{{universitycampus}}</p>
                    </span>
                    <!-- </span> -->
                  </div>
                </div>
                <div class="media border-bottom py-2" *ngIf='coursedata.course_intake.intake.length > 0'>
                  <i class="la la-calendar align-self-center mr-3 la-2x text-secondary"></i>
                  <div class="media-body">
                    <div class="h6 mb-1">
                      Intake Date
                    </div>
                    <span *ngIf="coursedata.course_intake.intake.length>0">
                      <span *ngFor='let intakeDate1 of coursedata.course_intake.intake'>
                        <span *ngIf="intakeDate1.name.toLowerCase() == universitycampus.toLowerCase()">
                          <span *ngFor="let intake of intakeDate1.value">
                            <ng-container *ngIf="intake.actualdate == 'anytime'">
                              <p class="text-muted">anytime</p>
                            </ng-container>
                            <ng-container *ngIf="intake.actualdate != 'anytime'">
                              <p class="text-muted">{{intake.filterdate | date:'longDate'}}</p>
                            </ng-container>
                          </span>
                        </span>
                      </span>
                    </span>
                    <span *ngIf="coursedata.course_intake.intake.length==0">
                      <p class="mb-0">Visit the programme website for more information related to Intakes
                        <a aria-label="more_details_1" target="_blank"
                          href="{{coursedata.course_intake.more_details}}">Click</a>
                      </p>
                    </span>
                  </div>
                </div>
                <div class="media border-bottom py-2" *ngIf='coursedata.course_cricos_code.length > 0'>
                  <i class="la la-code align-self-center mr-3 la-2x text-secondary"></i>
                  <div class="media-body">
                    <div class="h6 mb-1">
                      Cricos Code
                    </div>
                    <span *ngFor='let cricos of coursedata.course_cricos_code'>
                      <span *ngIf='cricos.location.toLowerCase() == universitycampus.toLowerCase()'>
                        <p class="text-muted">{{cricos.code}}</p>
                      </span>
                    </span>
                  </div>
                </div>
                <!--  -->
                <div class="media border-bottom py-2">
                  <!-- <i class="fa fa-lg fa-code"></i> -->
                  <i class="la la-code align-self-center mr-3 la-2x text-secondary"></i>
                  <div class="media-body">
                    <div class="h6 mb-1">
                      Program Code
                    </div>

                    <span *ngIf='coursedata.program_code.length > 0'>
                      <p class="text-muted">{{coursedata.program_code}}</p>
                    </span>
                    <span *ngIf='coursedata.program_code.length == 0'>
                      <p class="text-muted">Visit the programme website for more information
                        <a aria-label="course_url_3" target="_blank" href="{{coursedata.course_url}}">Click</a>
                      </p>
                    </span>

                  </div>
                </div>
                <!--Favorite -->
                <div class="media border-bottom py-2" *ngIf="!favoriteHide">
                  <a aria-label="AddtoFavourite_1" class="btn btn-icon mr-2 text-danger" title=""
                    (click)="AddtoFavourite(cid)" data-toggle="modal" data-target="#myModalfavorite"><i
                      class="material-icons" *ngIf="check">
                      favorite_border
                    </i><i class="material-icons" *ngIf="!check">
                      favorite
                    </i>

                  </a>

                  <div class="media-body">
                    <div class="h6 mb-1">
                      Favorite
                      <span class="h5">{{this.favcnt[0].cnt | shortNumber}}</span>
                    </div>


                  </div>
                </div>
                <!--viewer-->
                <div class="media border-bottom py-2" *ngIf="!favoriteHide">

                  <i class="fa fa-eye align-self-center mr-3 la-2x text-secondary"></i>
                  <div class="media-body">
                    <div class="h6 mb-1">
                      No Of Visitor
                      <span class="h5">{{this.visitcnt[0].visitcounts | shortNumber}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-white mb-3 media px-4 py-2 rounded pointer" style="border-top: 5px solid #92b7ef;">
              <a aria-label="AddtoFavourite" class="d-inline-block text-left w-100" (click)="openReportIssueModal()">
                <i>
                  Report An Issue
                </i>
              </a>
            </div>

            <div class="bg-white mb-3 media px-4 py-2 rounded pointer" style="border-top: 5px solid #92b7ef;">
              <a aria-label="AddtoFavourite" class="d-inline-block text-left w-100" (click)="openFeedbackModal()">
                Feedback/Suggestions
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="accordion-search-my-courses" id="parentDiv" scrollSpy [spiedTags]="['DIV:card mb-4 shadow']"
          (sectionChange)="onSectionChange($event)">
          <div class="card mb-4 shadow" id="about-university-tab">
            <div class="card-body p-2 p-md-3">
              <div class="lead font-weight-normal text-muted" *ngFor="let rankings of universityrankingdata">
                <i class="la la-university pr-1"></i>University rank
                <span class="text-body">#{{rankings.name}} (</span>
                <span *ngFor="let rank of rankings.ranking; let ind=index">{{(ind!=0)?', ':''}}{{rank.levelname}} :
                  {{rank.value}} </span>)
              </div>
              <div class="border-bottom h4 mt-2 pb-1" *ngIf="coursedata.course_overview">About</div>
              <p class="text-justify" *ngIf="coursedata.course_overview">
                {{coursedata.course_overview}}
              </p>

              <blockquote class="bg-client blockquote border-danger border-left-5 p-3 shadow-sm">
                <p class="mb-0">
                  Visit the university website for more information
                  <a aria-label="universitydataurl" target="_blank" href="{{universitydata.url}}">Click</a>
                </p>
              </blockquote>
            </div>
          </div>
          <div class="card mb-4 shadow" id="v-pills-career-outcome">

            <div id="collapse-services-3" class="collapse show" aria-hidden="true" aria-labelledby="heading-services-3">
              <div class="card-body p-2 p-md-3">
                <div class="border-bottom h4 mt-2 pb-1">Career Outcome
                </div>
                <span *ngIf="coursedata.course_career_outcome.length>0">
                  <ul>
                    <span *ngFor="let outcome of coursedata.course_career_outcome">
                      <li *ngIf="outcome != ''">
                        {{outcome}}
                      </li>
                    </span>
                  </ul>
                </span>
                <span *ngIf="coursedata.course_career_outcome.length==0">
                  <p class="mb-0">
                    Visit the programme website for more information
                    <a aria-label="course_url_4" target="_blank" href="{{coursedata.course_url}}">Click</a>
                  </p>
                </span>

                <div class="border-bottom h5 mt-2 pb-1">Course Discipline
                </div>
                <span *ngIf="coursedata.course_discipline.length>0">
                  <ul>
                    <span *ngFor="let discipline of coursedata.course_discipline">
                      <li *ngIf="discipline != ''">
                        {{discipline}}
                      </li>
                    </span>
                  </ul>
                </span>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow" id="v-pills-key-facts">
            <div id="collapse-services-4" class="collapse show" aria-hidden="true" aria-labelledby="heading-services-4">
              <div class="card-body p-2 p-md-3">
                <div class="h4"> Detailed Programme Facts </div>
                <span *ngIf="coursedata.course_intake.intake.length>0">
                  <div class="row mt-3 border-bottom" *ngFor="let intakeDates of coursedata.course_intake.intake">
                    <span class="col-md-12 h5">{{intakeDates.name}}</span>
                    <ng-container>
                      <div class="col-md-6 mb-3" *ngFor="let intakeValue of intakeDates.value">
                        <div class="border d-flex flex-column p-3 h-100">
                          <div class="h-100">
                            <p class="lead font-weight-normal mb-1">Starting in
                              <ng-container *ngIf="intakeValue.actualdate == 'anytime'">
                                <b> {{intakeValue.actualdate}}</b>
                              </ng-container>
                              <ng-container *ngIf="intakeValue.actualdate != 'anytime'">
                                <b> {{intakeValue.actualdate}}</b>
                                <b>(</b><b>{{intakeValue.filterdate}}</b><b>)</b>
                              </ng-container>

                            </p>
                            <!-- There is no application deadline for this start date. -->
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </span>
                <span *ngIf="coursedata.course_intake.intake.length == 0">
                  <div class="row mt-3">
                    <p class="mb-0">Visit the programme website for more information english
                      requirements
                      <a aria-label="english_requirements_url" target="_blank"
                        href="{{coursedata.course_admission_requirement.english_requirements_url}}">Click</a>
                    </p>
                  </div>
                </span>
                <b>More details:</b>

                <blockquote class="bg-client blockquote border-danger border-left-5 p-3 shadow-sm">
                  <p class="mb-0">Visit
                    university intake page. <a aria-label="course_url_6"
                      href="{{coursedata.course_intake.more_details}}" target="_blank">Click</a></p>
                </blockquote>
                <h5>Programme intensity</h5>
                <hr>
                <!-- <b>Full-time</b> -->
                <span *ngIf="coursedata.course_duration_display.length>0">
                  <ng-container *ngFor="let durationDisplay of coursedata.course_duration_display">

                    <div class="h5 text-black-50 mt-3">{{durationDisplay.display}} duration</div>
                    <abbr>{{durationDisplay.duration}} {{durationDisplay.unit}}</abbr>

                  </ng-container>
                </span>
                <span *ngIf="coursedata.course_duration_display.length==0">
                  <p>Visit the programme website for more information
                    <a aria-label="course_url_5" target="_blank" href="{{coursedata.course_url}}">Click</a></p>
                </span>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <div class="h5">Languages</div>
                    <p>English</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <a aria-label="britishcouncil" href="https://takeielts.britishcouncil.org/" target="_blank"
                      class="btn btn-outline-primary">
                      Schedule IELTS
                    </a>
                    <a aria-label="pearsonpte" href="https://pearsonpte.com/book-now/" target="_blank"
                      class="btn btn-outline-primary">
                      Schedule PTE
                      <sup>®</sup>
                    </a>
                    <a aria-label="padlock" href="https://padlock.link/take-toefl2" target="_blank"
                      class="btn btn-outline-primary">
                      Schedule TOEFL
                      <sup>®</sup>
                    </a>
                  </div>
                </div>
                <hr>
                <div class="h5">Delivery mode</div>
                <p>{{coursedata.course_study_mode}}</p>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow" id="v-pills-admission-requirements">
            <div id="collapse-services-5" class="collapse show" aria-hidden="true" aria-labelledby="heading-services-5">
              <div class="card-body p-2 p-md-3">
                <div class="h4">English Language
                  Requirements</div>
                <p *ngIf="coursedata.course_admission_requirement.english.length>0">You only need to take one of these
                  language tests: </p>
                <ng-container ngif="coursedata.course_admission_requirement.english.length>0">
                  <nav>
                    <div class="nav nav-pills flex-column flex-sm-row" id="nav-tab" role="tablist">
                      <a aria-label="englishProgress"
                        *ngFor="let englishProgress of coursedata.course_admission_requirement.english; let OuterIndex = index"
                        [ngClass]="OuterIndex == 0 ? 'nav-item border btn-lg nav-link mb-2 py-1 active' : 'nav-item border btn-lg nav-link mb-2 py-1'"
                        id="nav-home-tab-{{OuterIndex}}" data-toggle="tab" href="#nav-home-{{OuterIndex}}" role="tab"
                        [attr.aria-controls]="nav-home-OuterIndex" aria-selected="true" aria-hidden="true">
                        {{englishProgress.name | uppercase}}
                      </a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent"
                    *ngIf="coursedata.course_admission_requirement.english.length>0">
                    <div
                      *ngFor="let englishProgress of coursedata.course_admission_requirement.english;let InnerIndex = index"
                      [ngClass]="InnerIndex == 0 ? 'tab-pane fade border p-3 show active' : 'tab-pane fade border p-3 show'"
                      id="nav-home-{{InnerIndex}}" role="tabpanel" [attr.aria-labelledby]="nav-home-tab-InnerIndex"
                      aria-hidden="true">
                      <div class="ScoreBar" data-min="englishProgress.min" data-max="englishProgress.max"
                        data-format="0">
                        <div class="Background">
                          <div class="Incrementation Min">{{englishProgress.min}}</div>
                          <div class="Incrementation Max">{{englishProgress.max}}</div>
                        </div>
                        <div class="ScoreBackground BarIndex0" style="width: 40%;">
                          <div class="Score js-Score" data-value="englishProgress.require">
                            {{englishProgress.require}} </div>
                        </div>
                      </div>

                      <div *ngFor="let englishreq of coursedata.course_admission_requirement.english">
                        <p *ngIf="englishreq.name == englishProgress.name && englishreq.description!=''">
                          {{englishreq.description}}
                        </p>
                      </div>
                      <br>
                      <blockquote class="bg-client blockquote border-danger border-left-5 p-3 shadow-sm"
                        *ngIf="coursedata.course_admission_requirement && coursedata.course_admission_requirement.english_requirements_url != ''">
                        <p class="mb-0">Visit the programme website for more information english
                          requirements
                          <a aria-label="course_admission_requirement" target="_blank"
                            href="{{coursedata.course_admission_requirement.english_requirements_url}}">Click</a>
                        </p>
                      </blockquote>
                    </div>

                  </div>
                </ng-container>
                <span ngif="coursedata.course_admission_requirement.english.length==0">
                  <blockquote class="bg-client blockquote border-danger border-left-5 p-3 shadow-sm"
                    *ngIf="coursedata.course_admission_requirement && coursedata.course_admission_requirement.english_requirements_url != ''">
                    <p class="mb-0">Visit the programme website for more information english
                      requirements
                      <a aria-label="english_requirements_url_1" target="_blank"
                        href="{{coursedata.course_admission_requirement.english_requirements_url}}">Click</a>
                    </p>
                  </blockquote>
                </span>

                <hr>
                <div class="h4">Academic Requirements</div>
                <span ngif="coursedata.course_admission_requirement.academic.length>0">
                  <ul>
                    <li *ngFor="let academic of coursedata.course_admission_requirement.academic">
                      {{academic}}
                    </li>
                  </ul>
                </span>
                <blockquote class="bg-client blockquote border-danger border-left-5 p-3 shadow-sm">
                  <p class="mb-0">Visit the programme website for more information
                    <a aria-label="course_url_7" href="{{coursedata.course_url}}" target="_blank">Click</a></p>
                </blockquote>

              </div>
            </div>
          </div>
          <div class="card mb-4 shadow" id="v-pills-fees-and-funding">
            <div id="collapse-services-6" class="collapse show" aria-hidden="true" aria-labelledby="heading-services-6">
              <div class="card-body p-2 p-md-3">
                <div class="h4">
                  Tuition Fee
                </div>
                <p>
                  International
                  <a aria-label="FeesInfo" href="#" data-toggle="tooltip" title=""
                    data-original-title="The Tuition Fee shown here is for international students for indicative purpose only and are subject to changes.">
                    <i class="la la-info-circle py-2"></i>
                  </a>
                </p>
                <div class="form-row">

                  <div class="col-md-6 mb-2" *ngFor="let feeData of coursedata.course_tuition_fee.fees;let i=index">
                    <div class="media p-3 bg-color-light-blue rounded shadow-sm">
                      <div class="mr-2 align-self-center">
                        <i class="la la-money la-3x"></i>
                      </div>
                      <div class="media-body">
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <h6 class="mb-0">{{feeData.name}}</h6>
                          </div>
                        </div>
                        <div class="form-row text-center">
                          <div class="col-md-4" *ngFor="let singleFee of feeData.value.international_student">

                            <div class="rounded bg-white p-3 border hover-3d shadow-sm mb-3">

                              <h6 class="m-0" *ngIf="singleFee.amount != '0' || singleFee.amount != '0.00'">
                                {{singleFee.amount}}
                                {{feeData.value.currency}}</h6>
                            </div>
                          </div>
                        </div>
                        <div class="form-row" *ngIf="feeData.value.international_student_all_fees.length > 0">
                          <div class="col-auto">
                            Fee Description
                          </div>

                          <div class="col-auto">
                            <a aria-label="Description_details" class="link font-weight-bold" data-toggle="collapse"
                              href="#Description{{i}}" role="button" aria-expanded="false"
                              aria-controls="collapseExample">
                              click
                            </a>
                          </div>
                          <div id="Description{{i}}" class="collapse">
                            <div class="bg-white px-2 py-1 mt-2 rounded shadow"
                              *ngFor="let additionalFees of feeData.value.international_student_all_fees">
                              {{additionalFees}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="h4 mb-3 mt-4">
                  Living costs
                </div>

                <div class="form-row">
                  <div class="col-md-6 mb-2">
                    <div class="media p-3 bg-color-light-orange border rounded shadow-sm">
                      <div class="mr-2 align-self-center">
                        <i class="la la-money la-3x"></i>
                      </div>
                      <div class="media-body">
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <h6 class="mb-0 ng-binding">Applicant - 20290</h6>
                          </div>
                          <div class="col-auto">
                            <span class="badge badge-warning ng-binding">AUD/year
                            </span>
                          </div>
                        </div>
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <h6 class="mb-0 ng-binding">Partner - 7100 </h6>
                          </div>
                          <div class="col-auto">
                            <span class="badge badge-warning ng-binding">AUD/year
                            </span>
                          </div>
                        </div>
                        <div class="form-row align-items-center">
                          <div class="col-auto">
                            <h6 class="mb-0 ng-binding">Child - 3040 </h6>
                          </div>
                          <div class="col-auto">
                            <span class="badge badge-warning ng-binding">AUD/year
                            </span>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-auto">
                            for more details (GOVT)
                          </div>
                          <div class="col-auto">
                            <a aria-label="accomodationgovturl" target="_blank"
                              href="{{universitydata.accomodationgovturl}}" class="link font-weight-bold">Click</a>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-auto">
                            for more details (University)
                          </div>
                          <div class="col-auto">
                            <a aria-label="accomodationunivurl_1" target="_blank"
                              href="{{universitydata.accomodationunivurl}}" class="link font-weight-bold">Click</a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div> -->
                <!-- <div class="col-md-12 mb-4">
                    <div class="rounded shadow-sm bg-primary-light border d-flex flex-column px-3 pt-3 h-100">
                      <div class="h-100">
                        <div class="form-row align-items-center">
                          <div class="col">
                            <div class="form-row">
                              <div class="col-md-12">
                                <div class="rounded bg-white p-3 border hover-3d shadow-sm mb-3">
                                  <h6 class="m-0 ng-binding">We have more than 600
                                    scholarships, which help make university a
                                    reality for a variety of our new and
                                    continuing students. You could be eligible
                                    for different scholarships based on your
                                    background, chosen study area, hardships
                                    you’ve experienced or your achievements so
                                    far.

                                    Applying for our scholarships is free and
                                    simple. You can apply for multiple
                                    scholarships with just the one application
                                    form. Explore our scholarships below to see
                                    what you may be eligible for.

                                    We also have a number of awards and academic
                                    prizes, which are presented at the end of
                                    each academic year to outstanding students
                                    for their remarkable achievements.</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-auto text-right">
                            <a aria-label="getRelatedCourseData" href="https://www.griffith.edu.au/scholarships" target="_blank"
                              class="btn btn-outline-primary">
                              More Details
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <blockquote class="bg-client blockquote border-danger border-left-5 p-3 shadow-sm">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      <a aria-label="getRelatedCourseData" href="#">Integer posuere</a> erat a ante.</p>
                  </blockquote> -->
              </div>
            </div>
          </div>
          <!-- <div class="card mb-4 shadow" id="v-pills-visa-checklist">
            <div id="collapse-services-7" class="collapse show" aria-hidden="true" aria-labelledby="heading-services-7">
              <div class="card-body p-2 p-md-3">
                <div class="card-body p-md-2 p-0">
                  <div class="card border-0">
                    <div class="card-header p-2 py-md-2">
                      <div class="row align-items-center">
                        <div class="col">
                          <h5 class="font-size-11 m-0">Service Documents</h5>
                        </div>
                        <div class="col-auto my-2 my-md-0">
                          <h5 class="font-size-11 m-0">Documents Type:</h5>

                        </div>

                        <div class="col-12 col-md py-2 py-md-0">
                          <select aria-label="inputState1" id="inputState" class="form-control" [(ngModel)]="documentid"
                            (change)="getservicedocumentslist()">
                            <option value="">Select Service Type</option>
                            <option *ngFor="let doc of documentlist" [value]="doc.productid">{{doc.productname}}
                            </option>
                          </select>
                        </div>
                        <div class="col-auto" *ngIf="servicedocuments">
                          <div class="text-right w-100">
                            <button role="button" aria-label="getCourseByFilter"
                              class="btn btn-outline-primary btn-sm ml-2 print-btn" type="button"
                              (click)="documentEmail()" title="Send Mail" data-toggle="tooltip"
                              data-original-title="Send Mail">
                              <i class="far fa-envelope"></i>
                            </button>
                            <button role="button" aria-label="getCourseByFilter"
                              class="btn btn-outline-primary btn-sm ml-2 print-btn" type="button"
                              (click)="downloadVisaCheckListPdf(false,'','')" title="PDF" data-toggle="tooltip" 
                              data-original-title="PDF" [disabled]="loadService.downloadPDF"><span
                                *ngIf="loadService.downloadPDF"><i class="fa fa-lg fa-sync fa-refresh"></i></span><span
                                *ngIf="!loadService.downloadPDF">
                                <i class="fa fa-lg fa-download"></i></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-0" id="serviceDocument">
                      <p class="badge-secondary font-weight-500 mb-0 px-3 py-1"> For Main
                        Applicant </p>
                      <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                          <thead>
                            <tr>
                              <th>
                                Document Name
                              </th>
                              <th>
                                Specification
                              </th>
                              <th>
                                category
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let doc of servicedocumentlist| filterArr:{ formainapplicant1: true }">
                              <td>{{doc.name}}</td>
                              <td [ngClass]="(doc.requiredrecommanded==1)?'text-danger':'text-success'">
                                {{(doc.requiredrecommanded==1)?'Required':'Recommended'}}
                              </td>
                              <td>{{(doc.doctypeid==1)?'Original':'Certified'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <p class="badge-secondary font-weight-500 mb-0 px-3 py-1">For Secondary
                        Applicant
                      </p>
                      <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                          <thead>
                            <tr>
                              <th>
                                Document Name
                              </th>
                              <th>
                                Specification
                              </th>
                              <th>
                                category
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let doc of servicedocumentlist| filterArr:{ forsecondaryapplicant1: true }">
                              <td>{{doc.name}}</td>
                              <td [ngClass]="(doc.requiredrecommanded==1)?'text-danger':'text-success'">
                                {{(doc.requiredrecommanded==1)?'Required':'Recommended'}}
                              </td>
                              <td>{{(doc.doctypeid==1)?'Original':'Certified'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <p class="badge-secondary font-weight-500 mb-0 px-3 py-1">For Child</p>
                      <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                          <thead>
                            <tr>
                              <th>
                                Document Name
                              </th>
                              <th>
                                Specification
                              </th>
                              <th>
                                category
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let doc of servicedocumentlist| filterArr:{ forchild1: true }">
                              <td>{{doc.name}}</td>
                              <td [ngClass]="(doc.requiredrecommanded==1)?'text-danger':'text-success'">
                                {{(doc.requiredrecommanded==1)?'Required':'Recommended'}}
                              </td>
                              <td>{{(doc.doctypeid==1)?'Original':'Certified'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="card mb-4 shadow" id="v-pills-fund-calculator">
            <div id="collapse-services-8" class="collapse show" aria-hidden="true" aria-labelledby="heading-services-8">
              <div class="card-body">
                <div class="card shadow mt-3">
                  <div class="card-header p-2 py-md-2">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="font-size-11 m-0">Main Applicant</h5>
                      </div>
                      <div class="col-auto my-2 my-md-0">
                        <h5 class="font-size-11 m-0"> Country of lodgement:</h5>
                      </div>
                      <div class="col-12 col-md py-2 py-md-0">
                        <select aria-label="doccountryid1" class="form-control" [(ngModel)]="doccountryid"
                          (change)="getDataOnCountryChange()">
                          <option value="">Select Country</option>
                          <option *ngFor="let country of documentcountrylist" [value]="country.countryid">
                            {{country.countryname}}</option>
                        </select>
                      </div>
                      <div class="col-auto" *ngIf="lodgement">
                        <div class="text-right w-100">
                          <button role="button" aria-label="getCourseByFilter"
                            class="btn btn-outline-primary btn-sm ml-2 print-btn" type="button"
                            (click)="sendfuncdEmail()" title="Send Mail" data-toggle="tooltip"
                            data-original-title="Send Mail">
                            <i class="far fa-envelope"></i>
                          </button>
                          <button role="button" aria-label="getCourseByFilter"
                            class="btn btn-outline-primary btn-sm ml-2 print-btn" type="button"
                            (click)="gotofc(false,'','')" title="PDF" data-toggle="tooltip" data-original-title="PDF"
                            [disabled]="loadService.downloadPDF"><span *ngIf="loadService.downloadPDF"><i
                                class="fa fa-lg fa-sync fa-refresh"></i></span><span *ngIf="!loadService.downloadPDF">
                              <i class="fa fa-lg fa-download"></i></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-2 p-md-3" id="fundcalculator">
                    <div class="form-row align-items-center bg-hover">
                      <div class="col-12 col-md-4 my-1">
                        <div class="form-group mb-0">
                          <label>Tuition Fee</label>
                          <input aria-label="tuitionfees_1" type="text" [(ngModel)]="tuitionfees"
                            (change)="getTotalAmount()" class="form-control">
                        </div>
                      </div>
                      <div class="col-12 col-md-4 my-1">
                        <div class="form-group mb-0">
                          <label>Living Cost</label>
                          <input aria-label="livingcost_1" type="text" [(ngModel)]="livingcost"
                            (change)="getTotalAmount()" class="form-control">
                        </div>
                      </div>
                      <div class="col-12 col-md-4 my-1">
                        <div class="form-group mb-0">
                          <label>Travel Cost</label>
                          <input aria-label="travelcoast_1" type="text" [(ngModel)]="travelcoast"
                            (change)="getTotalAmount()" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div [hidden]="!doccountryid>0">
                      <div class="form-group border-bottom mb-2 mt-2 pb-1">
                        <div class="custom-control custom-checkbox">
                          <input aria-label="createDummyData" type="checkbox" (change)="createDummyData()"
                            class="custom-control-input" [(ngModel)]="isotherapplicant" id="customCheck1">
                          <label class="custom-control-label font-weight-500" for="customCheck1">Add other
                            Dependent</label>
                        </div>
                      </div>
                      <div class="form-row align-items-center bg-hover mb-2" [hidden]="!isotherapplicant">
                        <div class="col">
                          <div class="form-row align-items-center">
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <label>Relationship</label>
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <label>Date of Birth</label>
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <label>Schooling Fee</label>
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <label>Living Cost</label>
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <label>Travel Cost</label>
                              </div>
                            </div>
                          </div>
                          <div class="form-row align-items-center"
                            *ngFor="let fund of funddata;trackBy: trackByIndex; index as tindex;">
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <select aria-label="doccountryid2" class="form-control" [(ngModel)]="fund.relationid"
                                  (change)="dobChange(fund,tindex)">
                                  <option value="">Relationship</option>
                                  <option *ngFor="let rel of documentrelationshiplist" [value]="rel.id">
                                    {{rel.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <div class="input-group">
                                  <input aria-label="dobChange" [(ngModel)]="fund.dateofb" id="dob{{tindex}}"
                                    type="text" (input)="dobChange(fund,tindex)" placeholder="Date of Birth"
                                    class="form-control datepicker" appDatepicker>
                                  <div class="input-group-append">
                                    <button role="button" aria-label="openDOB" (click)="openDOB(tindex)"
                                      class="btn btn-outline-secondary mb-0">
                                      <i class="far fa-calendar-alt"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <input aria-label="schoolcoast" type="text" [(ngModel)]="fund.schoolcoast"
                                  (change)="getTotalAmount()" class="form-control">
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <input aria-label="lcoast" type="text" [(ngModel)]="fund.lcoast"
                                  (change)="getTotalAmount()" class="form-control">
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <div class="form-group mb-0">
                                <input aria-label="tracoast" type="text" [(ngModel)]="fund.tracoast"
                                  (change)="getTotalAmount()" class="form-control">
                              </div>
                            </div>
                            <div class="col-12 col-md-2 my-1">
                              <button role="button" aria-label="addFundData"
                                class="btn btn-icon btn-icon-sm btn-primary-air" (click)="addFundData()"
                                data-toggle="tooltip" title="" data-original-title="Add new">
                                <i class="material-icons"> add </i>
                              </button>
                              <button role="button" aria-label="removeFundData"
                                class="btn btn-icon btn-icon-sm btn-danger-air" *ngIf="tindex!=0"
                                (click)="removeFundData(tindex)" data-toggle="tooltip" title=""
                                data-original-title="Delete">
                                <i class="material-icons"> delete_forever </i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="form-row align-items-center bg-hover">
                        <div class="col-12 col-md-2 my-1">
                          <div class="form-group mb-0">
                            <label>Tuition Fee</label>
                            <input aria-label="totaltuitionfees_1" type="text" [disabled]="true"
                              [(ngModel)]="totaltuitionfees" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-md-2 my-1">
                          <div class="form-group mb-0">
                            <label>Schooling Cost</label>
                            <input aria-label="totalschoolfees_1" type="text" [disabled]="true"
                              [(ngModel)]="totalschoolfees" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-md-2 my-1">
                          <div class="form-group mb-0">
                            <label>Living Cost</label>
                            <input aria-label="totallivingcost_1" type="text" [disabled]="true"
                              [(ngModel)]="totallivingcost" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-md-2 my-1">
                          <div class="form-group mb-0">
                            <label>Travel Cost</label>
                            <input aria-label="totaltravelcoast_1" type="text" [disabled]="true"
                              [(ngModel)]="totaltravelcoast" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-md-2 my-1">
                          <div class="form-group mb-0">
                            <label>Grace Amount</label>
                            <input aria-label="graceamount_1" type="text" [(ngModel)]="graceamount"
                              (change)="getTotalAmount()" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-md-2 my-1">
                          <div class="form-group mb-0">
                            <label><strong>Net Total</strong></label>
                            <input aria-label="nettotal_1" type="text" [disabled]="true" [(ngModel)]="nettotal"
                              class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow" id="university-courses-tab">
            <div class="card-body p-2 p-md-3">
              <div class="row gutter-x-5" *ngIf="topcourses">
                <div class="col-md-4 mb-3" *ngFor="let course of topcourses">
                  <app-course-cards-related [coursedetail]=course (getRelated)="getRelatedCourseData($event)">
                  </app-course-cards-related>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4 shadow" id="virtual-tour-tab">
            <div class="card-body p-2 p-md-3">
              <iframe title="myFrame" style="height:500px;" class="border-0 m-0 p-0 w-100" alt="Virtual Tour"
                frameborder="0" [src]="sviewurl | safe"></iframe>

            </div>
          </div>
          <!-- User Comments START-->
          <!-- <div class="card mb-4 shadow" id="user-comments">
            <div class="card-body p-2 p-md-3">
              <app-usercomments [ftableid]='33' [ftablename]='tblcourse'>
              </app-usercomments>
            </div>
          </div> -->
          <!-- User Comments END-->
        </div>
      </div>
      <div class="col-md-2">
        <div class="sticky-sidebar" style="position: relative; z-index: 999;">
          <div class="d-none d-md-block sticky-sidebar-inner">
            <div class="card mb-3">
              <div class="card-body px-1 px-md-2 py-2">
                <div class="nav nav-pills flex-column active-sider-bar-class">
                  <a aria-label="university-tab" class="nav-link border-bottom text-primary pointer"
                    (click)="scrollTo('about-university-tab')"
                    [ngClass]="(currentSection==='about-university-tab')?'active text-light':''">
                    <div class="row align-items-center gutter-x-5">
                      <div class="col-auto">
                        <i class="la la-university la-2x  text-color-light-orange"></i>
                      </div>
                      <div class="col">
                        About University
                      </div>
                    </div>
                  </a>

                  <a aria-label="career-outcome" class="nav-link border-bottom rounded-0 text-primary pointer"
                    (click)="scrollTo('v-pills-career-outcome')"
                    [ngClass]="(currentSection==='v-pills-career-outcome')?'active text-light':''">
                    <div class="row align-items-center  gutter-x-5">
                      <div class="col-auto">
                        <i class="la la-users la-2x text-color-light-pink"></i>
                      </div>
                      <div class="col">
                        Career Outcome
                      </div>
                    </div>
                  </a>
                  <a aria-label="v-pills-key-facts-1" class="nav-link border-bottom rounded-0 text-primary pointer"
                    (click)="scrollTo('v-pills-key-facts')"
                    [ngClass]="(currentSection==='v-pills-key-facts')?'active text-light':''">
                    <div class="row align-items-center gutter-x-5">
                      <div class="col-auto">
                        <i class="la la-key la-2x text-color-light-red"></i>
                      </div>
                      <div class="col">
                        Key facts
                      </div>
                    </div>
                  </a>
                  <a aria-label="pills-admission-requirements"
                    class="nav-link border-bottom rounded-0 text-primary pointer"
                    (click)="scrollTo('v-pills-admission-requirements')"
                    [ngClass]="(currentSection==='v-pills-admission-requirements')?'active text-light':''">
                    <div class="row align-items-center gutter-x-5">
                      <div class="col-auto">
                        <i class="la la-commenting-o la-2x text-color-light-cyan"></i>
                      </div>
                      <div class="col">
                        Admission requirements
                      </div>
                    </div>
                  </a>
                  <a aria-label="pills-fees-and-funding" class="nav-link border-bottom rounded-0 text-primary pointer"
                    (click)="scrollTo('v-pills-fees-and-funding')"
                    [ngClass]="(currentSection==='v-pills-fees-and-funding')?'active text-light':''">
                    <div class="row align-items-center gutter-x-5">
                      <div class="col-auto">
                        <i class="la la-money la-2x text-color-light-indigo"></i>
                      </div>
                      <div class="col">
                        Fees and funding
                      </div>
                    </div>
                  </a>
                  <!-- <a aria-label="visa-checklist" class="nav-link border-bottom rounded-0 text-primary pointer"
                    (click)="scrollTo('v-pills-visa-checklist')"
                    [ngClass]="(currentSection==='v-pills-visa-checklist')?'active text-light':''">
                    <div class="row align-items-center gutter-x-5">
                      <div class="col-auto">
                        <i class="la la-cc-visa la-2x text-color-light-teal"></i>
                      </div>
                      <div class="col">
                        Visa Checklist
                      </div>
                    </div>
                  </a> -->
                  <a aria-label="fund-calculator" class="nav-link border-bottom rounded-0 text-primary pointer"
                    (click)="scrollTo('v-pills-fund-calculator')"
                    [ngClass]="(currentSection==='v-pills-fund-calculator' || currentSection==='university-courses-tab' || currentSection==='virtual-tour-tab')?'active text-light':''">
                    <div class="row align-items-center gutter-x-5">
                      <div class="col-auto">
                        <i class="la la-calculator la-2x text-color-light-purple"></i>
                      </div>
                      <div class="col">
                        Fund Calculator
                      </div>
                    </div>
                  </a>
                  <!-- User Comments START-->
                  <!-- <a aria-label="getRelatedCourseData" class="nav-link border-bottom rounded-0 text-primary pointer" (click)="scrollTo('user-comments')"
                    [ngClass]="(currentSection==='user-comments')?'active text-light':''">
                    <div class="row align-items-center gutter-x-5">
                      <div class="col-auto">
                        <i class="la la-calculator la-2x text-color-light-purple"></i>
                      </div>
                      <div class="col">
                        User Comments
                      </div>
                    </div>
                  </a> -->
                  <!-- User Comments END-->
                </div>
              </div>
            </div>

            <div class="bg-white mb-3 media px-4 py-2 rounded pointer" style="border-top: 5px solid #92b7ef;">
              <a aria-label="other-courses" (click)="scrollTo('university-courses-tab')"
                class="d-inline-block text-center w-100">
                <img class="img-fluid" src="{{environment.API_URL+'Document/images/'}}other-courses-bg.jpg"
                  alt=" Other Courses">
              </a>
            </div>
            <div class="bg-white mb-3 media px-4 py-2 rounded pointer" style="border-top: 5px solid #F7941D;">
              <a aria-label="virtual-tour-tab-1" (click)="scrollTo('virtual-tour-tab')"
                class="d-inline-block text-center w-100">
                <img class="img-fluid" src="{{environment.API_URL+'Document/images/'}}virtualtour.png"
                  alt="Virtual Tour">
              </a>
            </div>
            <div class="bg-white mb-2 media px-3 py-2 rounded" style="border-top: 5px solid #4FCE6A;">
              <img class="align-self-center mr-3"
                src="https://images1.content-hci.com/hca-cont/india/img/grating/google_rating.png"
                alt="powered by Google" width="36" height="36">
              <div class="media-body">
                <div class="font-size-11 font-weight-400" style="color: #000;">Google Rating
                </div>
                <span style="color: #e7711b;"
                  class="align-middle font-size-13 font-weight-700">{{universitydata.overallrating}}</span>
                <span style="color: #e7711b;" class="align-middle">
                  <ng-template #t let-fill="fill">
                    <span class="gift" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>

                  <ngb-rating [(rate)]="universitydata.overallrating" [starTemplate]="t" [readonly]="true" max="5">
                  </ngb-rating>
                </span>
                <div style="color: #959595;"> (Based on 500+ reviews)</div>
              </div>
            </div>
            <div class="text-center font-size-8 mb-3">Rated highest in student satisfaction amongst
              overseas education consultants in India.</div>
          </div>
        </div>
      </div>
      <!-- mobile side -->
      <div class="col-md-2 d-block d-md-none">
        <div class="bg-white mb-2 media px-3 py-2 rounded" style="border-top: 5px solid #4FCE6A;">
          <img class="align-self-center mr-3"
            src="https://images1.content-hci.com/hca-cont/india/img/grating/google_rating.png" alt="powered by Google"
            width="36" height="36">
          <div class="media-body">
            <div class="font-size-11 font-weight-400" style="color: #000;">Google Rating
            </div>
            <span style="color: #e7711b;"
              class="align-middle font-size-13 font-weight-700">{{universitydata.overallrating}}</span>
            <span style="color: #e7711b;" class="align-middle">
              <ng-template #t let-fill="fill">
                <span class="gift" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>

              <ngb-rating [(rate)]="universitydata.overallrating" [starTemplate]="t" [readonly]="true" max="5">
              </ngb-rating>
            </span>
            <div style="color: #959595;"> (Based on 500+ reviews)</div>
          </div>
        </div>
        <div class="text-center font-size-8 mb-3">Rated highest in student satisfaction amongst
          overseas education consultants in India.</div>
      </div>
      <!-- mobile side -->
    </div>
  </div>
</div>


<div onclick="topFunction()" id="back-to-top" class="btn btn-outline-primary"><i class="la la-arrow-up"></i>
</div>


<div class="modal fade" id="modalServicedocumentEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light py-2">
        <h5 class="modal-title">Service Documents</h5>
        <button role="button" aria-label="closebtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="la la-close"></i>
        </button>
      </div>
      <form #documentemailForm="ngForm" novalidate>
        <div class="modal-body">

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-color-light-red">*</span> Full
              Name </label>
            <div class="col-sm-10">
              <input aria-label="txtname_1" type="text" class="form-control" id="txtname" name="txtname"
                [required]="true" [(ngModel)]="txtname"
                [ngClass]="(docemailSubmitted && documentemailForm.controls.txtname.invalid)?'invalid':''"
                placeholder="Full Name...">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-color-light-red">*</span>
              Email</label>
            <div class="col-sm-10">
              <input aria-label="txtemail_1" type="text" class="form-control" id="txtemail" name="txtemail"
                [(ngModel)]="txtemail" [required]="true"
                [ngClass]="(docemailSubmitted && documentemailForm.controls.txtemail.invalid)?'invalid':''"
                placeholder="Email...">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-color-light-red">*</span>
              Phone</label>
            <div class="col-sm-10">
              <input aria-label="txtphone_1" type="text" class="form-control" id="txtphone" name="txtphone"
                [(ngModel)]="txtphone" [required]="true"
                [ngClass]="(docemailSubmitted && documentemailForm.controls.txtphone.invalid)?'invalid':''"
                placeholder="Phone...">
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button role="button" aria-label="senddocemail" type="button" class="btn btn-primary"
            (click)="sendMailVisaCheckList(documentemailForm)">Save</button>
          <button role="button" aria-label="closebtn1" type="button" class="btn btn-outline-secondary"
            data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Report and issue modal start-->
<div class="modal fade" id="myModal" role="dialog" *ngIf="coursedata">
  <div class="modal-dialog" style='background-color:#f3ecdf;'>
    <div class="modal-content">
      <div class="modal-header">
        <button role="button" aria-label="closebtn2" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style='background-color:#f3ecdf;'>
        <hr style="border-top: 20px solid #004d73;">
        <form #mainform1="ngForm" autocomplete="off" novalidate>
          <div class="row mt-1">
            <div class="col-12 col-auto col-md py-md-2 py-0">

              <h6>Course:{{coursedata.course_title}}</h6>
            </div>
            <div class="col-12" style="display:block;margin-left: auto;margin-right: auto;">
              <textarea aria-label="description" class="form-control rounded-0"
                placeholder="Suggestion and Advice for Correcting The Error" rows="3" data-name="description"
                data-prefix="description" data-type="text" [(ngModel)]="description" name="description"
                [required]=true></textarea>
            </div>
            <div style="text-align: center;">
              <h6>Thanks For Your Support! We Will Check And Correct The Error ASAP</h6>
            </div>
          </div>

          <hr>


          <div class="col-md-12">
            <div class="form-group row">
              <!--[(ngModel)]="fileupload"-->
              <label for="upload" class="col-sm-3 col-form-label">Upload Image</label>
              <input type="file" class="" name="Upload" (change)="setPhoto($event)" [required]=true data-name="Upload"
                data-prefix="Upload" data-type="select" aria-label="Upload">
              <span style="color: red; text-align: center;">*Only JPG,JPEG And PNG Files Accepted</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <div class="row mt-1">
          <div class="col-md-12">
            <button appValidation [validparent]="'form-group'" [form]="mainform1" role="button" aria-label="addissue"
              type="button" class="btn btn-outline-primary" (click)="addissue(mainform1)">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              Save</button>&nbsp;
            <button role="button" aria-label="clearall" type="button" class="btn btn-outline-danger"
              data-dismiss="modal" (click)="clearall()">
              <i class="fa fa-ban" aria-hidden="true"></i>
              Cancel</button>
          </div>
          <div>
            <span style="color: red;">*All the fields are mendatory</span>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<!--Report and issue modal end-->
<!-- Login Model start -->
<app-login-model (success)="successLogin()"></app-login-model>

<div class="modal fade" id="progress" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body"
        style="height: 100%;width: 100%;padding:100px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <h3 *ngIf="prepare">Preparing your document please wait..... <i class="fas fa-sync fa-refresh"></i>
        </h3>
        <span *ngIf="download">
          <h3>Downloading in progress </h3>
          <div class="progress">
            <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{downloadpr}}" attr.aria-valuemin="0"
              attr.aria-valuemax="100" [ngStyle]="{width: downloadpr+'%'}">
              <span>{{downloadpr}}% Complete</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="font-size: medium;padding: 5px;">
              <strong>File size:</strong> {{(totalsize/1048576) | number : '1.2-2'}} in MB
            </div>
            <div class="col-md-12" style="font-size: medium;padding: 5px;">
              <strong>Total download:</strong> {{(downloadedsize/1048576) | number : '1.2-2'}} in MB
            </div>
            <div class="col-md-12" style="font-size: medium;padding: 5px;">
              <strong>Network speed:</strong> {{speed}}
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- Inquiry Form start -->
<div class="modal fade ModalThirdParty" data-modal-width="100vw" data-modal-offset-upto="992" id="ThirdPartyForm"
  tabindex="-1" role="dialog" aria-hidden="true">
  <form #mainform="ngForm" autocomplete="off" novalidate>
    <div class="modal-dialog" role="document" style="max-width: 1000px;">
      <div class="modal-content">
        <button type="button" class="close close-point" data-dismiss="modal" aria-label="Close" appClearValidation
          [form]="mainform" [resetform]="true">
          <i class="la la-close"></i>
        </button>
        <div class="modal-body p-3 p-md-5">
          <div class="px-2 text-center">
            <h5 class="modal-title text-center h1 text-primary-light">Inquiry Form</h5>
            <div *ngIf="coursedata && coursedata.course_title"
              class="d-inline-block arrow-right py-2 px-2  px-md-5 border border-dark mt-3 font-weight-bold position-relative">
              You have requested inquiry for {{coursedata.course_title}}</div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 d-none d-lg-block">
              <img src="assets/images/img-notification-modal.jpg" class="img-fluid" alt="download Visa Fees in Email">
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="form-group">
                <input data-name="Leadname" name="Leadname" type="text" class="modal-custom-form-control"
                  placeholder="Name*" [required]=true [(ngModel)]="leadInquiryPayload.name">
                <!-- <span class="error">Name is Required.</span> -->
              </div>
              <div class="form-group">
                <input data-name="Leademail" name="Leademail" type="email" class="modal-custom-form-control"
                  placeholder="Email*" [required]=true [(ngModel)]="leadInquiryPayload.email">
              </div>
              <div class="form-group">
                <input data-name="Leadnumber" name="Leadnumber" type="tel" maxlength="10" placeholder="Phone Number"
                  class="modal-custom-form-control" [(ngModel)]="leadInquiryPayload.phoneno">
              </div>
              <div class="form-group">
                <input data-name="Leadcomments" name="Leadcomments" type="text" placeholder="Comments"
                  class="modal-custom-form-control" [(ngModel)]="leadInquiryPayload.comments">
              </div>
              <div class="form-group text-center mt-4">
                <button appValidation [validparent]="'form-group'" [form]="mainform" type="button"
                  class="btn btn-primary-light btn-lg font-weight-bold px-5 text-uppercase text-white"
                  (click)="submitLeadInquiry(mainform)">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- Inquiry Form end -->

<!-- Feedback Form start -->
<div class="modal fade ModalThirdParty" data-modal-width="100vw" data-modal-offset-upto="992" id="feedbackForm"
  tabindex="-1" role="dialog" aria-hidden="true">
  <form #feedbackform="ngForm" autocomplete="off" novalidate>
    <div class="modal-dialog" role="document" style="max-width: 1000px;">
      <div class="modal-content">
        <button type="button" class="close close-point" data-dismiss="modal" aria-label="Close" appClearValidation
          [form]="feedbackform" [resetform]="true">
          <i class="la la-close"></i>
        </button>
        <div class="modal-body p-3 p-md-5">
          <div class="px-2 text-center">
            <h5 class="modal-title text-center h1 text-primary-light">Feedback Form</h5>
            <!-- <div *ngIf="coursedata && coursedata.course_title"
              class="d-inline-block arrow-right py-2 px-2  px-md-5 border border-dark mt-3 font-weight-bold position-relative">
              You have requested inquiry for {{coursedata.course_title}}</div> -->
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 d-none d-lg-block">
              <img src="assets/images/feedback-img.jpg" class="img-fluid" alt="download Visa Fees in Email">
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="form-group">
                <input data-name="Leadname" name="Leadname" type="text" class="modal-custom-form-control"
                  placeholder="Name*" [required]=true [(ngModel)]="feedbackPayload.name">
                <!-- <span class="error">Name is Required.</span> -->
              </div>
              <div class="form-group">
                <input data-name="Leademail" name="Leademail" type="email" class="modal-custom-form-control"
                  placeholder="Email*" [required]=true [(ngModel)]="feedbackPayload.email">
              </div>
              <div class="form-group">
                <input data-name="Leadnumber" name="Leadnumber" type="tel" maxlength="10" placeholder="Phone Number"
                  class="modal-custom-form-control" [(ngModel)]="feedbackPayload.phoneno">
              </div>
              <div class="form-group">
                <input data-name="Leadcomments" name="Leadcomments" type="text" placeholder="Feedback"
                  class="modal-custom-form-control" [(ngModel)]="feedbackPayload.feedback">
              </div>
              <div class="form-group text-center mt-4">
                <button appValidation [validparent]="'form-group'" [form]="feedbackform" type="button"
                  class="btn btn-primary-light btn-lg font-weight-bold px-5 text-uppercase text-white"
                  (click)="sendFeedback(feedbackform)">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- Feedback Form end -->