<div class="course-card-wrap card h-100 shadow-sm">
  <div class="card-header border-bottom-0">
    <div class="row align-items-center no-gutters">
      <div class="col">
        <div class="h6 mb-0 font-size-11">
          <a class="text-body"
            [routerLink]="['/program/course-detail/search',viewtype,coursedetail.universitynameid,coursedetail.campusname,coursedetail.coursenameid]">{{coursedetail.coursename | uppercase}}</a>
        </div>
      </div>
      <div class="col-auto">
        <ul class="d-flex list-inline mb-0 ml-2" style="margin-right: -7px;">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chk_{{coursedetail.id}}_{{coursedetail.campusid}}"
              [checked]="coursedetail.ischecked" [(ngModel)]="coursedetail.ischecked"
              value="{{coursedetail.universityid}}" (change)="onpassUnivId(coursedetail)">
            <label style="display: block !important;" class="custom-control-label"
              for="chk_{{coursedetail.id}}_{{coursedetail.campusid}}"></label>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body px-2 py-0 d-flex flex-column h-100 justify-content-around align-self-center">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto text-center" style="flex: 0 0 40.3333333333%; max-width: 40.3333333333%;">
        <a [routerLink]="['/program/univ-detail']"
          [queryParams]="{univid:coursedetail.universitynameid | encdec :'enc'}" class="d-block">
          <!-- <img data-toggle="modal" data-target="#course-details-Model" class="img-fluid count-img-redirect"
            style="max-height:80px;" alt="university logo" [defaultImage]="'./assets/default.gif'"
            [lazyLoad]="environment.API_URL+'Document/images/'+coursedetail.logourl"> -->
          <img data-toggle="modal" data-target="#course-details-Model" class="img-fluid count-img-redirect"
            style="max-height:80px;" alt="university logo" [defaultImage]="'./assets/default.gif'"
            [lazyLoad]="'./assets/univlogo.png'">
        </a>
        <div class="text-muted mb-1 text-uppercase h6 mt-md-3 mt-2">{{coursedetail.universityname | uppercase}}</div>
        <div class="text-muted mb-1 h6">({{coursedetail.campusname}}) </div>
      </div>
      <div class="col border-left">
        <div class="row gutter-x-5 align-items-center py-2">
          <div class="col-auto">
            <img class="img-fluid" src="./assets/images/s-m-c-calendar-ico.png" alt="calendar">
          </div>
          <div class="col">
            <div class="text-muted mb-0 h6 font-size-12 font-weight-400 dropdown dropdown-cust">Intake Dates
              <a href="#" class="dropdown-toggle has-dropdown-arrow d-inline-block" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"
                (click)="getIntakeData(coursedetail.id,coursedetail.campusname)"><i
                  class="fa fa-info-circle font-size-11"></i></a>
              <div
                class="border-0 border-bottom-left-radius-8 border-bottom-right-radius-8 border-top-left-radius-8 border-top-right-radius-8 dropdown-menu dropdown-menu-xl py-3">
                <div *ngIf="intakeData.length>0">
                  <div class="bg-hover px-3 py-2" *ngFor="let data of intakeData">
                    <p class="pt-1 text-muted">{{data.actualdate}}</p>
                  </div>
                </div>
                <div *ngIf="intakeData.length==0">
                  <div class="bg-hover px-3 py-2">
                    <p class="pt-1 text-muted">Intakes not available</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row gutter-x-5 align-items-center py-2">
          <div class="col-auto">
            <img class="img-fluid" src="./assets/images/s-m-c-time-ico.png" alt="time">
          </div>
          <div class="col">
            <div class="text-muted mb-0 h6 font-size-12 font-weight-400" *ngIf="coursedetail.durationfulltime">
              {{coursedetail.durationfulltime}} {{coursedetail.unitfulltime}}/ Full-Time
            </div>
            <div class="text-muted mb-0 h6 font-size-12 font-weight-400" *ngIf="coursedetail.durationparttime">
              {{coursedetail.durationparttime}} {{coursedetail.unitparttime}}/ Part-Time
            </div>
          </div>
        </div>
        <div class="row gutter-x-5 align-items-center py-2">
          <div class="col-auto">
            <img class="img-fluid" src="./assets/images/s-m-c-language-ico.png" alt="language">
          </div>
          <div class="col">
            <div class="text-muted mb-0 h6 font-size-12 font-weight-400 dropdown dropdown-cust">Language
              Requirements
              <a href="#" class="dropdown-toggle has-dropdown-arrow d-inline-block" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" (click)="getEnglisgReq(coursedetail.id)"><i
                  class="fa fa-info-circle font-size-11"></i></a>
              <div
                class="border-0 border-bottom-left-radius-8 border-bottom-right-radius-8 border-top-left-radius-8 border-top-right-radius-8 dropdown-menu dropdown-menu-xl py-3">
                <div *ngIf="engData.length>0">
                  <div class="bg-hover px-3 py-2" *ngFor="let data of engData">
                    <div class="border-bottom font-size-12 font-weight-500 pb-1 text-primary">
                      {{data.name | uppercase}}</div>
                    <p class="pt-1 text-muted">{{data.description}}</p>
                  </div>
                </div>
                <div *ngIf="engData.length==0">
                  <div class="bg-hover px-3 py-2" *ngFor="let data of engData">
                    <p class="pt-1 text-muted">English Requirements are not specified.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row gutter-x-5 align-items-center py-2">
          <div class="col-auto">
            <img class="img-fluid" src="./assets/images/s-m-c-aud-ico.png" alt="Aud">
          </div>
          <div class="col" *ngIf="coursedetail.feeamount == 0">
            <div class="text-muted mb-0 h6 font-size-13 font-weight-400 text-uppercase usd-text-hover">
              <span class="font-weight-600">Unknown</span></div>
          </div>
          <div class="col" *ngIf="coursedetail.feeamount != 0 && coursedetail.feeduration ==1">
            <div class="text-muted mb-0 h6 font-size-13 font-weight-400 text-uppercase usd-text-hover">
              <span class="font-weight-600">{{coursedetail.currency}}
                {{coursedetail.feeamount}}</span>/{{coursedetail.feeunit | uppercase}}</div>
          </div>
          <div class="col" *ngIf="coursedetail.feeamount != 0 && coursedetail.feeduration !=1">
            <div class="text-muted mb-0 h6 font-size-13 font-weight-400 text-uppercase usd-text-hover">
              <span class="font-weight-600">{{coursedetail.currency}} {{coursedetail.feeamount}}</span>/full
              ({{coursedetail.feeduration}} {{coursedetail.feeunit | uppercase}})</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>