<div class="card shadow mb-4" id="ShowProcessesId">
    <div class="card-header py-2">
        <div class="row align-items-center">
            <div class="col">
                <h5 class="m-0">Edit Course Details</h5>
            </div>
            <div class="p-2">
                <a class="btn btn-outline-primary" [routerLink]="['/user/workspace/manage/manage-course']"
                    title="" aria-label="back">BACK</a>
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="coursedata">
        <div class="divbrd p-2 mt-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group text-left">
                        <label for="ctitle" aria-label="ctitle">Course Title</label>
                        <input type="text" class="form-control" [(ngModel)]="coursedata.course_title"
                            aria-label="ctitle" readonly="true">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group text-left">
                        <label for="uid" aria-label="uid">University Name</label>
                        <input type="text" class="form-control" [(ngModel)]="this.universityname" aria-label="uid"
                        readonly="true">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group text-left">
                        <label for="pcode" aria-label="pcode">Program Code</label>
                        <input type="text" class="form-control" [(ngModel)]="coursedata.program_code"
                            aria-label="pcode">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group text-left">
                        <label for="curl" aria-label="curl">Course URL</label>
                        <input type="text" class="form-control" [(ngModel)]="coursedata.course_url" aria-label="curl">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group text-left">
                        <label for="curl" aria-label="curl">StudyLevel</label>
                        <select class="form-control" [(ngModel)]="coursedata.course_study_level" aria-label="slevelid">
                            <option value="0">Choose</option>
                            <option *ngFor="let substudylevel of studylevellist" [value]="substudylevel.sublevel">
                               {{substudylevel.sublevel}}</option>
                        </select>
                        <!-- <input type="text" class="form-control" [(ngModel)]="coursedata.course_study_level"
                            aria-label="curl"> -->
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="form-group text-left">
                        <label for="curl" aria-label="curl">Course Discipline</label>
                        <input type="text" class="form-control" [(ngModel)]="coursedata.course_discipline" aria-label="curl">
                    </div>
                </div> -->

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-left">
                        <label for="overview" aria-label="overview">Course Overview</label>
                        <textarea class="form-control" [(ngModel)]="coursedata.course_overview"
                            aria-label="overview"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="curl" aria-label="curl">Campus Type:</label>
                    <div class="input-group">
                        <select class="form-control" [(ngModel)]="coursedata.course_study_mode" aria-label="slevelid">
                            <option value="0">Choose</option>
                            <option value="On campus">On campus</option>
                            <option value="Online">Online</option>
                        </select>
                    </div>
                </div>               
                <div class="col-md-4">
                    <div class="form-group text-left">
                        <label for="ctitle" aria-label="ctitle">Application fee</label>
                        <input type="text" class="form-control" [(ngModel)]="applicationfee"
                            aria-label="ctitle">
                    </div>
                </div>
                <div class="col-md-4" *ngIf="countrylist.length>0">
                    <label for="curl" aria-label="curl">Country:</label>
                    <div class="input-group">
                        <select class="form-control" [(ngModel)]="coursedata.course_country" aria-label="slevelid">
                            <option value="0">Choose</option>
                            <option *ngFor="let country of countrylist" [value]="country.name">
                               {{country.name}}</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="divbrd p-2 mt-2">
            <strong>Course Duration</strong>&nbsp;<button role="button" aria-label="addDuration"
              *ngIf="coursedata.course_duration_display.length==0" class="btn btn-sm btn-outline-primary rounded-circle"
              (click)="addDuration()" data-toggle="tooltip" title="" data-original-title="Add more"><i class="fa fa-plus"
                aria-hidden="true"></i></button>
            <div class="row"
              *ngFor="let duration of  coursedata.course_duration_display;trackBy: trackByIndex; index as index; last as last">
              <div class="col-md-11">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group text-left">
                      <label for="unit" aria-label="unit">Unit</label>
                      <input type="text" class="form-control" [(ngModel)]="duration.unit" aria-label="unit">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group text-left">
                      <label for="duration" aria-label="duration">Duration</label>
                      <input type="text" class="form-control" [(ngModel)]="duration.duration" aria-label="duration">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group text-left">
                      <label for="duration" aria-label="F/P">F/P</label>
                      <select class="form-control" [(ngModel)]="duration.display" aria-label="duration" aria-label="duration">
                        <option value="">Choose</option>
                        <option value="Full-Time">Full-Time</option>
                        <option value="Part-Time">Part-Time</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group text-left">
                      <label for="year" aria-label="year">Duration in years</label>
                      <input type="text" class="form-control" [(ngModel)]="duration.filterduration" aria-label="year">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
                <button role="button" aria-label="addDuration_3" (click)="addDuration()"
                  class="btn btn-sm btn-outline-primary rounded-circle" style="margin-top: 27px;" data-toggle="tooltip"
                  title="" data-original-title="Add more"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button role="button" aria-label="removeDuration_3" (click)="removeDuration(index)" *ngIf="index!=0"
                  class="btn btn-sm btn-outline-danger rounded-circle" style="margin-left: 3px;margin-top: 27px;"
                  data-toggle="tooltip" title="" data-original-title="Remove"><i class="fa fa-times-circle"
                    aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group text-left">
                  <label for="cduration" aria-label="cduration">Course Duration</label>
                  <input type="text" class="form-control" [(ngModel)]="coursedata.course_duration" aria-label="cduration">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group text-left">
                  <label for="fulltime" aria-label="fulltime">Is Full-Time</label>
                  <select class="form-control" [(ngModel)]="coursedata.isfulltime" aria-label="duration_fulltime">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group text-left">
                  <label for="parttime" aria-label="parttime">Is Part-Time</label>
                  <select class="form-control" [(ngModel)]="coursedata.isparttime" aria-label="duration_parttime">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        <div class="divbrd p-2 mt-2">
            <strong>Course Discipline</strong>&nbsp;<button role="button" aria-label="discipline"
                *ngIf="coursedata.course_discipline.length==0" class="btn btn-sm btn-outline-primary rounded-circle"
                (click)="addDiscipline()" data-toggle="tooltip" title="" data-original-title="Add more"><i
                    class="fa fa-plus" aria-hidden="true"></i></button>
            <div class="row"
                *ngFor="let discipline of coursedata.course_discipline;trackBy: trackByIndex; index as index; last as last">
                <div class="col-md-11">
                    <div class="form-group text-left">
                        <input type="text" class="form-control" [(ngModel)]="coursedata.course_discipline[index]" aria-label="coutcome">
                    </div>
                </div>
                <div class="col-md-1">
                    <button role="button" aria-label="addOutcome_2" (click)="addDiscipline()"
                        class="btn btn-sm btn-outline-primary rounded-circle" data-toggle="tooltip" title=""
                        data-original-title="Add more"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button role="button" aria-label="removeOutcome_1" (click)="removeDiscipline(index)"
                        *ngIf="index!=0" style="margin-left: 3px;" class="btn btn-sm btn-outline-danger rounded-circle"
                        data-toggle="tooltip" title="" data-original-title="Remove"><i class="fa fa-times-circle"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="divbrd p-2 mt-2">
            <strong>Course Campuses</strong>&nbsp;&nbsp;&nbsp;
            <div class="form-check-inline" *ngFor="let cam of coursedata.course_campus_location;let ind = index">
                <label class="form-check-label" for="radio2_{{ind}}">
                    <input type="radio" [(ngModel)]="radioSelected" class="form-check-input" id="radio2_{{ind}}"
                        name="optradio_{{ind}}" [value]="cam.name" (change)="onItemChange(cam.name)">{{cam.name}}
                </label>
            </div>
            <div class="row">

                <div class="col-md-4" *ngFor="let tmpcode of tmpcampus">
                    <div class="form-group text-left">
                        <label for="ctitle" aria-label="ctitle">Cricose Code</label>
                        <input type="text" class="form-control" [(ngModel)]="tmpcode.code" aria-label="ctitle">
                    </div>
                </div>
                <div class="col-md-8" *ngFor="let fees of tmpfee">
                    <!-- {{fees.value.international_student.amount}} -->
                    <div class="col-md-6" style="float: left;">
                        <div class="form-group text-left">
                            <label for="ctitle" aria-label="ctitle">Fees</label>
                            <input type="text" class="form-control"
                                [(ngModel)]="fees.value.international_student.amount" aria-label="ctitle">
                        </div>
                    </div>
                    <div class="col-md-6" style="float: left;">
                        <div class="form-group text-left">
                            <label for="ctitle" aria-label="ctitle">Unit</label>
                            <input type="text" class="form-control" [(ngModel)]="fees.value.international_student.unit"
                                aria-label="ctitle">
                        </div>
                    </div>
                </div>



            </div>
            <div class="row"
                *ngFor="let intake of tmpintake[0].value;trackBy: trackByIndex; index as iindex; last as last">

                <!-- {{intake.actualdate}} -->
                <div class="col-md-3">
                    <div class="form-group text-left">
                        <label for="actualdate" aria-label="actualdate">Actual Date</label>
                        <input type="text" class="form-control" [(ngModel)]="intake.actualdate" aria-label="actualdate">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group text-left">
                        <label for="month" aria-label="month">Month</label>
                        <select class="form-control" [(ngModel)]="intake.month" aria-label="month">
                            <option value="">Choose</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>
                </div>
                <button role="button" aria-label="addSubIntake_2" (click)="addSubIntake(tmpintake[0].name)"
                    class="btn btn-sm btn-outline-primary rounded-circle" style="margin-top: 27px;"
                    data-toggle="tooltip" title="" data-original-title="Add more"><i class="fa fa-plus"
                        aria-hidden="true"></i></button>
                <button role="button" aria-label="removeSubIntake_2" (click)="removeSubIntake(iindex,tmpintake[0].name)"
                    *ngIf="iindex!=0" class="btn btn-sm btn-outline-danger rounded-circle"
                    style="margin-left: 3px;margin-top: 27px;" data-toggle="tooltip" title=""
                    data-original-title="Remove"><i class="fa fa-times-circle" aria-hidden="true"></i></button>


            </div>
            <div class="row m-2">
                <div class="col-md-12">
                    <button role="button" aria-label="saveCourse" class="btn btn-outline-primary"
                        (click)="saveDetails(tmpcampus,tmpfee,tmpintake)" data-toggle="tooltip" title=""
                        data-original-title="Save changes">
                        <!-- <i class="fa fa-check-circle" aria-hidden="true"></i> -->
                        Save</button>
                </div>
            </div>           

        </div>
        <div class="divbrd p-2 mt-2">
            <strong>Course Outcome</strong>&nbsp;<button role="button" aria-label="addOutcome"
                *ngIf="coursedata.course_career_outcome.length==0" class="btn btn-sm btn-outline-primary rounded-circle"
                (click)="addOutcome()" data-toggle="tooltip" title="" data-original-title="Add more"><i
                    class="fa fa-plus" aria-hidden="true"></i></button>
           
            <div class="row"
                *ngFor="let outcome of coursedata.course_career_outcome;trackBy: trackByIndex; index as index; last as last">
                <div class="col-md-11">
                    <div class="form-group text-left">
                        <input type="text" class="form-control" [(ngModel)]="coursedata.course_career_outcome[index]"
                            aria-label="coutcome" name="courseOutcome" id="outcome_{{index}}">
                    </div>
                </div>
                <div class="col-md-1">
                    <button role="button" aria-label="addOutcome_2" (click)="addOutcome()"
                        class="btn btn-sm btn-outline-primary rounded-circle" data-toggle="tooltip" title=""
                        data-original-title="Add more"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    <button role="button" aria-label="removeOutcome_1" (click)="removeOutcome(index)" *ngIf="index!=0"
                        style="margin-left: 3px;" class="btn btn-sm btn-outline-danger rounded-circle"
                        data-toggle="tooltip" title="" data-original-title="Remove"><i class="fa fa-times-circle"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="divbrd p-2 mt-2" *ngIf="coursedata.course_admission_requirement">
            <Strong>English Requirement</Strong>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" id="displayUniversityRecords">
                        <table class=" table table-bordered">
                            <thead class="text-uppercase">
                                <tr>
                                    <th>Sequence</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <ng-container *ngIf="coursedata.course_admission_requirement.english">
                                    <tr class="tr-action-outer"
                                        *ngFor="let cam of coursedata.course_admission_requirement.english;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{cam.name}}</td>
                                        <td>{{cam.description}}</td>

                                        <td>
                                            <a class="btn btn-sm btn-outline-primary rounded-circle"><i
                                                    class="fa fa-lg fa-edit" data-toggle="tooltip" title=""
                                                    data-original-title="Edit" aria-label="edit_issue"
                                                    (click)="opencontactinfoModal(cam.name)"></i></a>

                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="coursedata.course_campus_location.length==0">
                                    <tr class="text-center text-color-red">
                                        <td colspan="100">
                                            No Data Found
                                        </td>
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       
        
        <div class="row m-2">
            <div class="col-md-12">
              <button role="button" aria-label="saveCourse" class="btn btn-outline-primary" (click)="saveCourse(applicationfee)"
                data-toggle="tooltip" title="" data-original-title="Save changes">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                Save Changes</button>
                <button role="button" aria-label="cancel" type="button" class="btn btn-outline-danger "
                        style="margin:0 0 0 5px" name="btncancel"
                        [routerLink]="['/user/workspace/manage/manage-course']">
                        <i class="fa pr-2 fa-times" aria-hidden="true"></i>Cancel
                    </button>
            </div>
          </div>
        </div>
       

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg" style='background-color:#f3ecdf;'>
                <div class="modal-content">
                    <div class="modal-header">
                        <button role="button" aria-label="closebtn2" type="button" class="close"
                            data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style='background-color:#f3ecdf;'>
                        <div class="card shadow mb-4" id="ShowProcessesId">
                            <div class="card-body">
                                <div class="divbrd p-2 mt-2">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group text-left">
                                                <label for="uname" aria-label="uid">Name: </label>
                                                <input type="text" class="form-control" name="txtcampusname"
                                                    [(ngModel)]="name" aria-label="uname">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group text-left">
                                                <label for="uname" aria-label="uid">Description: </label>
                                                <textarea class="form-control" name="txtcampusname"
                                                    [(ngModel)]="description" aria-label="uname"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group text-left">
                                                <label for="uname" aria-label="uid">Reading: </label>
                                                <input type="text" class="form-control" name="txtcampusname"
                                                    [(ngModel)]="reading" aria-label="uname">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group text-left">
                                                <label for="uname" aria-label="uid">WritingScore: </label>
                                                <input type="text" class="form-control" name="txtcampusname"
                                                    [(ngModel)]="writing" aria-label="uname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group text-left">
                                                <label for="uname" aria-label="uid">SpeakingScore: </label>
                                                <input type="text" class="form-control" name="txtcampusname"
                                                    [(ngModel)]="speaking" aria-label="uname">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group text-left">
                                                <label for="uname" aria-label="uid">ListeningScore: </label>
                                                <input type="text" class="form-control" name="txtcampusname"
                                                    [(ngModel)]="listening" aria-label="uname">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group text-left">
                                                <label for="uname" aria-label="uid">OverallScore: </label>
                                                <input type="text" class="form-control" name="txtcampusname"
                                                    [(ngModel)]="overrall" aria-label="uname">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <div class="row mt-1">
                            <div class="col-md-12">
                                <button role="button" aria-label="addissue" type="button"
                                    class="btn btn-outline-primary" (click)="save_english()" name="btnsave">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    Save</button>&nbsp;
                                <button role="button" aria-label="clearall" type="button" class="btn btn-outline-danger"
                                    data-dismiss="modal" (click)="clearall()" name="btnclear">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    Cancel</button>
                            </div>


                        </div>
                    </div>
                </div>