<div class="card shadow mb-4" id="">
    <div class="card-header py-2">
        <div class="row align-items-center">
            <div class="col">
                <h5 class="m-0">Missing {{option | titlecase }}</h5>
            </div>
            <div class="p-2">
                <a class="btn btn-outline-primary" [routerLink]="['/user/workspace/manage/manage-missing-university-field']"
                    title="" aria-label="back">BACK</a>
            </div>

        </div>
    </div>
    <div class="table-responsive" id="displayUniversityRecords">
        <table class="table table-striped">
            <thead class="text-uppercase">
                <tr>
                    <th>Name Of University</th>
                    <th *ngIf="option=='postcode' || option=='city' || option=='country' || option=='state' ||
                    option=='cricos' || option=='virtualtoururl' || option=='placeid'">Campus Name</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="unvname.length>0">
                    <tr *ngFor="let unvnm of unvname | paginate: {itemsPerPage: pageSize,
                        currentPage: pageIndex,
                        totalItems: count};let index = index ">
                        <td>{{unvnm.name}}</td>
                        <td  *ngIf="option=='postcode' || option=='city' || option=='country' || option=='state' ||
                        option=='cricos' || option=='virtualtoururl' ||  option=='placeid'" >{{unvnm.campusname}} </td>
                        <td  *ngIf="permissions.canEdit"><a class="btn btn-sm btn-outline-primary rounded-circle" [routerLink]="['/user/workspace/manage/manage-university/edituniversity',unvnm.id | encdec :'enc']"><i
                                    class="fa fa-lg fa-edit" data-toggle="tooltip" title="Edit University"
                                    data-original-title="Edit" aria-label="edit_issue"></i></a></td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="unvname.length==0">
                    <tr class="text-center text-color-red">
                        <td colspan="2">
                            No Data Found
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
   
    <div class="px-3">
        <div class="row align-items-center">
          <div class="col">
            <select style="width: 60px;" class="custom-select custom-select-sm mr-2"
              id="inputGroupSelect01" [(ngModel)]="pageSize" (change)="getuniversity()"
              aria-label="viewcnt">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            <p class="d-inline-block" *ngIf="(pageIndex*pageSize)>count">Displaying
              {{(count==0)?0:((pageIndex-1)*pageSize) + 1}} - {{count}} of
              {{count}}
              records</p>
            <p class="d-inline-block" *ngIf="(pageIndex*pageSize)<count">Displaying
              {{((pageIndex-1)*pageSize) + 1}} -
              {{(((pageIndex-1)*pageSize) + pageSize)}} of
              {{count}}
              records</p>
          </div>

          <div class="col-auto">
            <nav aria-label="Page navigation example">
              <pagination-controls [autoHide]="true" (pageChange)="pageChanged($event)">
              </pagination-controls>
            </nav>
          </div>
        </div>
      </div>
</div>