<div class="card-body">
    <div>
        <div class="m-portlet__head-tools">
            <div class="row">
                <div class="col-auto">
                    <h4 class="mb-3 pt-0">Change your autofill preference</h4>
                </div>
                <div class="col-auto" *ngIf="divautofillview">
                    <button role="button" aria-label="Addrecord" type="button" class="btn btn-primary btn-sm"
                        (click)="addAutoFillDetail()">
                        Add Record
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="table-responsive" *ngIf="divautofillview" id="divautofillview">
        <table class="table table-striped">
            <thead class="text-uppercase">
                <tr>
                    <th></th>
                    <th>Address line 1</th>
                    <th>Address line 2</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Postcode</th>
                    <th>phone no</th>
                    <th>Email</th>
                    <th colspan="5">Copy</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="dropZoneAddress">
                <ng-container *ngIf="addressList && addressList.length > 0">
                    <tr class="tr-action-outer"
                        *ngFor="let list of addressList;trackBy: trackByIndex;let index = index">
                        <td>
                            {{index + 1}}
                        </td>
                        <td>{{list.leadaddline1}}</td>
                        <td>{{list.leadaddline2}}</td>
                        <td>{{list.leadcountry}}</td>
                        <td>{{list.leadstate}}</td>
                        <td>{{list.leadcity}}</td>
                        <td>{{list.leadpostcode}}</td>
                        <td>{{list.leadcontactnumber}}</td>
                        <td>{{list.leademail}}</td>
                        <td colspan="5">
                            <div *ngFor="let c of sectionlist;trackBy: trackByIndex;let i = index"
                                style="display: flex;" id="div{{c.sectionidf}}_{{list.id}}">
                                <input type="checkbox" class="addresscutom" id="{{c.sectionidf}}_{{list.id}}"
                                    (change)="updateCopySection(c,list)">
                                <label style="margin-top: -5px;margin-left: 2px;" for="{{c.sectionidf}}_{{list.id}}"
                                    aria-label="isactive">{{c.sectionname}}</label>
                            </div>
                        </td>
                        <td>
                            <a aria-label="DeleteAutoFill" href="javascript:void(0);"
                                (click)="deleteAutoFillDetails(list)">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a aria-label="EditAutoFill" class="ml-2" href="javascript:void(0);"
                                (click)="editAutoFillDetails(list)">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>

                    </tr>
                </ng-container>
                <ng-container *ngIf="!addressList || addressList.length == 0">
                    <tr class="text-center text-color-red">
                        <td colspan="100">
                            No Data Found
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="form-row" *ngIf="divautofilladd" id="divautofilladd">
        <div class="col-md-12" id="divadd_54">
            <div class="form-group row" id="divAddressLine1">
                <label tabindex="-1" for="divAddressLine1_1" class="col-lg-2 col-md-3 col-form-label">
                    Address Line 1
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <input id="divAddressLine1_1" type="text" class="form-control"
                                [(ngModel)]="autofilljson.leadaddline1" name="controlType_divAddressLine1_1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" id="divAddressLine2">
                <label tabindex="-1" for="divAddressLine2_10" class="col-lg-2 col-md-3 col-form-label">
                    Address Line 2
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <input id="divAddressLine2_10" type="text" class="form-control"
                                [(ngModel)]="autofilljson.leadaddline2" name="controlType_divAddressLine2_10" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" id="divAddressLine3">
                <label tabindex="-1" for="divAddressLine3_1" class="col-lg-2 col-md-3 col-form-label">
                    Country
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <select id="divAddressLine3_1" class="form-control" [(ngModel)]="autofilljson.leadcountry"
                                name="controlType_divAddressLine3_1">
                                <option selected="selected" value="">---Select Country---
                                </option>
                                <option *ngFor="let ngOption of mastercontroll | filter: 'type' : 1"
                                    value="{{ngOption.optiontext}}">
                                    {{ngOption.optiontext}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" id="divAddressLine4">
                <label tabindex="-1" for="divAddressLine4_1" class="col-lg-2 col-md-3 col-form-label">
                    State
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <select id="divAddressLine4_1" class="form-control" [(ngModel)]="autofilljson.leadstate"
                                name="controlType_cntrlAddressline1">
                                <option selected="selected" value="">---Select State---
                                </option>
                                <option *ngFor="let ngOption of mastercontroll | filter: 'type' : 14"
                                    value="{{ngOption.optiontext}}">
                                    {{ngOption.optiontext}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" id="divAddressLine5">
                <label tabindex="-1" for="divAddressLine5_1" class="col-lg-2 col-md-3 col-form-label">
                    City
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <input id="divAddressLine5_1" type="text" class="form-control"
                                [(ngModel)]="autofilljson.leadcity" name="controlType_divAddressLine5_1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" id="divAddressLine6_1">
                <label tabindex="-1" for="ctrldivAddressLine6_1" class="col-lg-2 col-md-3 col-form-label">
                    Postcode
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <input id="ctrldivAddressLine6_1" type="text" class="form-control"
                                [(ngModel)]="autofilljson.leadpostcode" name="controlType_ctrldivAddressLine6_1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row" id="divphonenumber_1">
                <label tabindex="-1" for="ctrldivphonenumber_1" class="col-lg-2 col-md-3 col-form-label">
                    Phone number
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <input id="ctrldivphonenumber_1" type="text" class="form-control"
                                [(ngModel)]="autofilljson.leadcontactnumber" name="controlType_ctrldivphonenumber_1" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group row" id="divMobileNumber_1">
                <label tabindex="-1" for="ctrldivMobileNumber_1" class="col-lg-2 col-md-3 col-form-label">
                    Mobile number
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <input id="ctrldivMobileNumber_1" type="text" class="form-control"
                                [(ngModel)]="autofilljson.mobno" name="controlType_ctrldivMobileNumber_1" />
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="form-group row" id="divEmail_1">
                <label tabindex="-1" for="ctrldivEmail_1" class="col-lg-2 col-md-3 col-form-label">
                    Email
                </label>

                <div class="col-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-lg-6 col-md-11 col-auto">
                            <input id="ctrldivEmail_1" type="text" class="form-control"
                                [(ngModel)]="autofilljson.leademail" name="controlType_ctrldivEmail_1" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" *ngIf="divautofillbutton" id="divautofillbutton">
        <div class="personal-form-wrap">
            <div class="personal-form-body">
                <button role="button" aria-label="autofillNewRecord" type="submit" (click)="saveAutoFillDetails()"
                    class="btn mb-1 btn-success btn-w80">
                    <i class="fa pr-2 fa-floppy-o" aria-hidden="true"></i>Save as
                </button>
                <button role="button" aria-label="ShowDynamicList" type="button" (click)="clearAutoFillDetails()"
                    class="btn mb-1 btn-danger btn-w80" style="margin:0 0 0 5px">
                    <i class="fa pr-2 fa-times" aria-hidden="true"></i>Cancel
                </button>

            </div>
        </div>
    </div>
</div>