<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Yellowtail" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body style="margin: 0 !important;">
    <table border="0" cellpadding="0" cellspacing="0" class="main"
        style="page-break-inside: avoid;page-break-after: always;">
        <tbody>
            <tr>
                <td class="gradient py-1">
                    <span class="font-20 px-5 text-white"> </span>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>

                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="55%" align="left">
                                        <tbody>
                                            <tr>
                                                <td class="bg-secondary-light rounded-lg p-4 position-relative">
                                                    <img class="position-absolute"
                                                        style="left: 55px; top: -65px; max-width: 90px;"
                                                        src="../../../assets/images/pdfimages/course-compare.png"
                                                        alt="">
                                                    <h1 class="h1 font-weight-bold text-custom ml-5 pl-3 mb-0">REVIEW
                                                        <br> FORM</h1>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="40%" align="right">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="{{agnetDetails.agentLogoURL}}" style="padding-right: 10px;
                                                    height: 125px;
                                                    width: 279px;
                                                    padding-left: 15px;" alt="">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="px-5">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../../../assets/images/pdfimages/first-page-img.png" alt="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td> &nbsp; </td>
            </tr>
            <tr>
                <td> &nbsp; </td>
            </tr>
            <tr class="gradient" align="center">
                <td align="center">
                    <table align="center">
                        <tbody>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a class="text-white h4" style="font-size: 1.5rem;text-decoration: none;"
                                        href="{{agnetDetails.agentWebURL}}"
                                        target="_blank">{{agnetDetails.agentOrganization}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td align="center" class="text-white h6" style="font-size: 1rem">
                                    powered by
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a class="text-white h6" style="font-size: 1rem" href="https://searchmycourse.com/"
                                        target="_blank">www.searchmycourse.com</a>
                                </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" class="main">
        <tbody>
            <!-- <tr>
                <td class="gradient py-1">
                    <span class="font-20 px-5 text-white"> </span>
                </td>
            </tr>
            <tr>
                <td style="height: 25px;"></td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <img src="../../../assets/images/smc-logo.png" alt="Search My Courses">
                </td>
            </tr>
            <tr>
                <td style="height: 25px;"></td>
            </tr> -->
            <tr>
                <td>
                    <table class="w-100 table new-table-bordered border-bottom-le-ri-8"
                        *ngFor="let section of sectionlist;trackBy: trackByIndex; index as index; last as last">
                        <thead *ngIf="section.sectionparentidf===0">
                            <tr class="pgbreak">
                                <td colspan="10"
                                    style="font-size: 17px; font-weight: 600; padding: 8px 15px; text-transform: uppercase;"
                                    class="text-white gradient border-top-le-ri-8 border-0">
                                    {{section.sectionname | uppercase}}</td>
                            </tr>
                        </thead>
                        <tbody style="box-shadow: 0 0 6px #a4a4a4 !important;" *ngIf="section.sectionparentidf===0">
                            <tr class="pgbreak" *ngFor="let question of questionlist| filterArrV2:{ sectionid: section.sectionid }
                            ;trackBy: trackByIndex; index as index; last as last">
                                <td colspan="5" style="font-size: 14px;" *ngIf="question.controltypeidf!=37">
                                    {{question.question}}
                                </td>
                                <td colspan="5" class="pgbreak" style="font-size: 14px;"
                                    *ngIf="question.controltypeidf!=37 && question.controltypeidf!=5 && question.controltypeidf!=38  && question.controltypeidf!=16 && question.controltypeidf!=17">
                                    <div [innerHtml]="question.controlvalue"></div>
                                </td>
                                <td colspan="5" class="pgbreak" style="font-size: 14px;"
                                    *ngIf="question.controltypeidf==38 || question.controltypeidf==16 || question.controltypeidf==17"
                                    [innerHtml]="question | formatOutputtemp">
                                    <span>

                                    </span>
                                </td>
                                <td colspan="5" class="pgbreak" style="font-size: 14px;"
                                    *ngIf="question.controltypeidf==5">
                                    <span *ngFor="let ans of question.controlvalue | splitStringVar:'~'">
                                        {{ans}}
                                    </span>
                                </td>
                                <td colspan="10" class="pgbreak" *ngIf="question.controltypeidf==37">
                                    <table style="width: 100%;">
                                        <thead>
                                            <td colspan="20"
                                                style="font-size:15px; background-color: #d8d8d8 !important; font-weight: 800; padding: 8px 15px; text-transform: uppercase;"
                                                class="bg-back-1 text-color-1"> COURSE PREFERENCES
                                            </td>
                                        </thead>
                                        <tbody>
                                            <tr class="pgbreak">
                                                <th style="font-size:14px;" colspan="5">Cricos Code</th>
                                                <th style="font-size:14px;" colspan="5">Course Name</th>
                                                <th style="font-size:14px;" colspan="5">Campus Name</th>
                                                <th style="font-size:14px;" colspan="5">Intake</th>
                                            </tr>
                                            <tr class="pgbreak"
                                                *ngFor="let preference of preferencelist;trackBy: trackByIndex; index as index; last as last">
                                                <td colspan="5" style="font-size:14px;"
                                                    [innerHtml]="preference.cricoscode">
                                                </td>
                                                <td colspan="5" style="font-size: 14px;"
                                                    [innerHtml]="preference.coursename">
                                                </td>
                                                <td colspan="5" style="font-size:14px;"
                                                    [innerHtml]="preference.campusname">
                                                </td>
                                                <td colspan="5" style="font-size: 14px;"
                                                    [innerHtml]="preference.intake">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="pgbreak"
                                *ngFor="let subsection of sectionlist| filterArrV2:{ sectionparentidf: section.sectionid };trackBy: trackByIndex; index as index; last as last">
                                <td colspan="10">
                                    <table style="width: 100%">
                                        <thead>
                                            <td colspan="10"
                                                style="font-size:15px; background-color: #d8d8d8 !important; font-weight: 800; padding: 8px 15px; text-transform: uppercase;"
                                                class="bg-back-1 text-color-1"> {{subsection.sectionname}}
                                            </td>
                                        </thead>
                                        <tbody>
                                            <tr class="pgbreak" *ngFor="let question of questionlist| filterArrV2:{ sectionid: subsection.sectionid }
                                            ;trackBy: trackByIndex; index as index; last as last">
                                                <td colspan="5" style="font-size:14px;"
                                                    *ngIf="question.controltypeidf!=37">
                                                    {{question.question}}
                                                </td>
                                                <td colspan="5" style="font-size: 14px;"
                                                    *ngIf="question.controltypeidf==38 || question.controltypeidf==16 || question.controltypeidf==17">
                                                    <div [innerHtml]="question | formatOutputtemp"></div>
                                                </td>
                                                <td colspan="5" style="font-size: 14px;"
                                                    *ngIf="question.controltypeidf!=37 && question.controltypeidf!=16 && question.controltypeidf!=17 && question.controltypeidf!=38">
                                                    <div [innerHtml]="question.controlvalue"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>