<div>
  <div class="row flex-nowrap">
    <div class="col w-100">
      <div class="w-100">
        <div id="split-aside-resize" class="w-100">
          <div class="row">
            <div class="left-sidebar col-2 p-3 border-right">
              <!-- <h4>Place hear anything which you want</h4> -->
            </div>
            <div class="main-content col-12">
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-4" id="ShowProcessesId">
                    <div class="card-header py-2">
                      <div class="row align-items-center">
                        <div class="col">
                          <h5 class="m-0">Manage University</h5>
                        </div>


                        <div class="col-auto">
                          <div class="card-ctrls border-left d-inline-flex align-items-center ml-2">
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip"
                              data-original-title="Download excel" (click)="generateExcelForUnivSample()">
                              Export Sample <i class="fas fa-download"></i>
                            </button>&nbsp;
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip"
                              data-original-title="Download excel" (click)="generateExcel()">
                              Export <i class="fas fa-download"></i>
                            </button>&nbsp;
                            <label for="upload-photo" id='upload-photolbl' class="btn btn-secondary"
                              data-toggle="tooltip" data-original-title="Upload excel">
                              Import <i class="fas fa-upload"></i>
                            </label>
                            <input type="file" name="photo" (change)="importExcel($event)" accept=".xls,.xlsx"
                              id="upload-photo" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group text-left">

                            <label class="font-weight-500">Country</label>
                            <div class="input-group">

                              <select class="form-control" [(ngModel)]="countryid" (change)="getAllUniversity()"
                                aria-label="uid">
                                <option value="0">Choose</option>
                                <option *ngFor="let country of countrylist" [value]="country.id">
                                  {{country.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group text-left">
                            <label class="font-weight-500">University Type</label>
                            <div class="input-group">
                              <select class="form-control" [(ngModel)]="universitytypeid" (change)="getAllUniversity()"
                                aria-label="slevelid">
                                <option value="0">Choose</option>
                                <option *ngFor="let utype of universitytype" [value]="utype.id">
                                  {{utype.univtype}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group text-left">
                            <label class="font-weight-500">Search University</label>
                            <div class="input-group-inside">
                              <input type="text" placeholder="Type at least three character for search.."
                                [(ngModel)]="searchstring" (keyup)="globalhints($event)" class="form-control pr-5"
                                (focus)="inputFocusFlag=false;" autocomplete="off">
                              <div class="input-group-inside-append">
                                <button class="btn btn-lg btn-trans" type="button">
                                  <i class="la la-search la-1x text-primary"></i>
                                </button>
                              </div>
                            </div>
                            <div id="hint" *ngIf="!isbuttonclicke && (searchhints.universityhint.length>0)"
                              [ngClass]="searchstring.lenght>=2 ? '' : 'hidden'" class="card mt-1 hint-wrap">
                              <ul id="list" class="m-2 ml-3" (focus)="divFocusFlag=false;"
                                (focusout)="divFocusFlag=true;" class="search-results search-resultsoption"
                                infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2"
                                [infiniteScrollThrottle]="50" (scrolled)="getNextHint()" [scrollWindow]="false">
                                <!-- <div class="input-group bg-white mt-1" *ngFor="let data of universityhint">
                    <a  aria-label="getNextHint"class="nav-link" style="color: black" [routerLink]="['/universitydetail/',data.id]">
                      <div class="input-group-append">
                        <img src="./assets/images/{{data.logourl}}" class="img-rounded" height="30" width="30">&nbsp;
                        <span style="text-align: justify"> {{data.name}} <b>(University)</b></span>
                      </div>
                    </a>
                  </div> -->

                                <li class="input-group bg-white mt-1"
                                  *ngFor="let data of searchhints.universityhint;trackBy: trackByIndex; index as tindex; last as last"
                                  [ngClass]="(tindex==0)?'active':''">
                                  <a aria-label="getCourseByHint_link" class="nav-link" style="color: black"
                                    (click)="getCourseByHint(data.name,data.id)" value="data.name">
                                    <!-- [routerLink]="['course-detail',data.id]"> -->
                                    <div class="input-group-append">
                                      <div class="hintoption" [style.background]="data.name | firstcharactercolor">
                                        {{data.name | firstcharacter}}
                                      </div> &nbsp;
                                      <!-- <img src="./assets/images/{{data.logourl}}" class="img-rounded" style="height: 30px;width:30px;border: #000000 1px outset;border-radius: 30px;" > &nbsp; -->
                                      <span style="text-align: left">{{data.name }}</span>
                                    </div>
                                  </a>
                                </li>
                                <!-- <button role="button" aria-label="getNextHint1" *ngIf="searchhints.ismorepage" class="btn btn-outline-primary btn-rounded btn-sm mt-2"
                (click)="getNextHint()">show more</button> -->
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive" id="displayUniversityRecords">
                        <table class="table table-striped">
                          <thead class="text-uppercase">
                            <tr>
                              <th>University name</th>
                              <th>Code/Type</th>
                              <th>Courses in SMC/Cricos</th>
                              <!-- <th>Type of Application</th> -->
                              <th>Campus</th>
                              <th>Comment</th>
                              <th *ngIf="permissions.canEdit">Action</th>

                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngIf="universitylist.length>0">
                              <tr class="tr-action-outer" *ngFor="let university of universitylist  | paginate: {itemsPerPage: pageSize,
                                    currentPage: pageIndex,
                                    totalItems: universitycount};let index = index">
                                <td><a href="{{university.url}}" target="_blank">{{university.name}}</a>
                                  <div *ngIf="university.applicationtype"><span><b>{{university.applicationtype  }}
                                        Application</b></span></div>


                                </td>
                                <td>{{university.cricosprovidercode}}-{{university.universitytype}}</td>
                                <td>{{ (coursecnt | filtercodeV1 :coursecnt :university.name) }} /
                                  {{ (cricoscoursecounts | filtercodeV2 :cricoscoursecounts :university.name) }} </td>
                                <td>{{university.campuscount}}-{{university.country}}</td>
                                <td>{{university.agentcomment}}</td>

                                <td *ngIf="permissions.canEdit">

                                  <a class="btn btn-sm btn-outline-primary rounded-circle"
                                    [routerLink]="['edituniversity',university.id | encdec :'enc']"><i
                                      class="fa fa-lg fa-edit" data-toggle="tooltip" title="Edit University"
                                      data-original-title="Edit" aria-label="edit_issue"></i></a>
                                  <a *ngIf="permissions.canMap && university.publishCount > 0"
                                    href="javascript:void(0);"
                                    [routerLink]="['/user/workspace/mapping/university-form-mapping',university.id | encdec :'enc',university.cricosprovidercode | encdec :'enc',university.name | encdec:'enc']"
                                    class="btn btn-sm btn-outline-success  ml-2" title="Map PDF Control">
                                    <i class="far fa-edit"></i>
                                  </a>
                                  <a *ngIf="permissions.canMap && university.publishCount == 0"
                                    href="javascript:void(0);"
                                    [routerLink]="['/user/workspace/mapping/university-form-mapping',university.id | encdec :'enc',university.cricosprovidercode | encdec :'enc',university.name | encdec:'enc']"
                                    class="btn btn-sm  btn-outline-danger ml-2" title="Upload PDF">
                                    <i class="fa fa-upload"></i>
                                  </a>&nbsp;&nbsp;

                                  <a class="btn btn-sm btn-outline-primary rounded-circle"
                                    [routerLink]="['/program/univ-detail']"
                                    [queryParams]="{univid:university.universityid | encdec :'enc'}">
                                    <i class="fa fa-lg fa-eye" data-toggle="tooltip" title="View University"
                                      data-original-title="Edit" aria-label="edit_issue"></i></a>
                                  <!-- <button class="btn btn-outline-danger rounded-circle" data-toggle="tooltip" title=""
                                      data-original-title="Remove" (click)="deleteCurrency(course)"><i
                                        class="fa fa-times-circle" aria-hidden="true"></i></button> -->
                                </td>

                              </tr>
                            </ng-container>
                            <ng-container *ngIf="universitylist.length==0">
                              <tr class="text-center text-color-red">
                                <td colspan="100">
                                  No Data Found
                                </td>
                              </tr>
                            </ng-container>

                          </tbody>
                        </table>

                      </div>
                      <div class="px-3">
                        <div class="row align-items-center">
                          <div class="col">
                            <select style="width: 60px;" class="custom-select custom-select-sm mr-2"
                              id="inputGroupSelect01" [(ngModel)]="pageSize" (change)="getAllUniversity()"
                              aria-label="viewcnt">
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                            <p class="d-inline-block" *ngIf="(pageIndex*pageSize)>universitycount">Displaying
                              {{(universitycount==0)?0:((pageIndex-1)*pageSize) + 1}} - {{universitycount}} of
                              {{universitycount}}
                              records</p>
                            <p class="d-inline-block" *ngIf="(pageIndex*pageSize)<universitycount">Displaying
                              {{((pageIndex-1)*pageSize) + 1}} -
                              {{(((pageIndex-1)*pageSize) + pageSize)}} of
                              {{universitycount}}
                              records</p>
                          </div>

                          <div class="col-auto" *ngIf="universitylist.length > 0">
                            <nav aria-label="Page navigation example">
                              <pagination-controls [autoHide]="true" (pageChange)="pageChanged($event)">
                              </pagination-controls>
                            </nav>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>