<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div>

                <div class="m-portlet__head-tools">
                    <div class="row">
                        <div class="col-auto">
                            <h4 class="mb-3 pt-0">Change your course preference</h4>
                        </div>
                        <div class="col-auto">
                            <button [disabled]="setPermissionFlag == 'View'?true:false" role="button"
                                aria-label="AddPreference" type="button" class="btn btn-primary btn-sm"
                                (click)="AddPreference()">
                                Add Preference
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="table-responsive" id="coursesDetails">
                <table class="table table-striped">
                    <thead class="text-uppercase">
                        <tr>
                            <th></th>
                            <th>University</th>
                            <th>Course</th>
                            <th>Campus</th>
                            <th>Intakes</th>
                            <th>Year</th>
                            <th>Major</th>
                            <th>Minor</th>
                            <!-- <th>Discipline</th> -->
                            <th>Sequence</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody cdkDropList #sectionlistList="cdkDropList" class="container-fluid" id="dropZone"
                        [cdkDropListData]="coursesDetails" (cdkDropListDropped)="dropCourse($event)">
                        <ng-container *ngIf="coursesDetails && coursesDetails.length>0">
                            <tr class="tr-action-outer" *ngFor="let list of coursesDetails;let index = index" cdkDrag>
                                <td>
                                    {{index+1}}
                                </td>
                                <td>{{list.universityname}}</td>
                                <td>{{list.coursename}}</td>
                                <td>{{list.campusname}}</td>
                                <td> <select [disabled]="setPermissionFlag == 'View'?true:false"
                                        aria-label="inputState1_24" id="intakeDropdown_{{index}}" class="form-control"
                                        name="inputState1_24" (change)="changeDropdowns(list,'intake')"
                                        [(ngModel)]="list.selectedintake">
                                        <option selected="selected" value="">---Select Intake---
                                        </option>
                                        <option *ngFor="let intake of list.intakes" value="{{intake.month}}">
                                            {{intake.month}}
                                        </option>
                                    </select></td>
                                <td> <select [disabled]="setPermissionFlag == 'View'?true:false"
                                        aria-label="inputState1_24" id="yearDropdown_{{index}}" class="form-control"
                                        name="inputState1_24" [(ngModel)]="list.selectedyear" (change)="changeDropdowns(list,'year')">
                                        <option selected="selected">---Select Year---
                                        </option>
                                        <option *ngFor="let year of yearlist" value="{{year}}">
                                            {{year}}
                                        </option>
                                    </select></td>
                                <td> <select [disabled]="setPermissionFlag == 'View'?true:false"
                                        aria-label="majordropdown" id="majorDropdown_{{index}}" class="form-control"
                                        name="majordropdown" (change)="changeDropdowns(list,'major')"
                                        [(ngModel)]="list.selectedmajor">
                                        <option selected="selected" value="">---Select Major---
                                        </option>
                                        <option *ngFor="let major of list.majorminor | filter:'type' : 'major'"
                                            value="{{major.description}}">
                                            {{major.description}}
                                        </option>
                                    </select></td>
                                <td> <select [disabled]="setPermissionFlag == 'View'?true:false"
                                        aria-label="minordropdown" id="minorDropdown_{{index}}" class="form-control"
                                        name="minordropdown" (change)="changeDropdowns(list,'minor')"
                                        [(ngModel)]="list.selectedminor">
                                        <option selected="selected" value="">---Select Minor---
                                        </option>
                                        <option *ngFor="let minor of list.majorminor | filter:'type' : 'minor'"
                                            value="{{minor.description}}">
                                            {{minor.description}}
                                        </option>
                                    </select></td>
                                <!-- <td> <select [disabled]="setPermissionFlag == 'View'?true:false"
                                        aria-label="disciplinedropdown" id="disciplineDropdown_{{index}}"
                                        class="form-control" name="disciplinedropdown"
                                        (change)="changeDropdowns(list,'discipline')"
                                        [(ngModel)]="list.selecteddiscipline">
                                        <option selected="selected" value="">---Select discipline---
                                        </option>
                                        <option *ngFor="let discipline of list.discipline" value="{{discipline.name}}">
                                            {{discipline.name}}
                                        </option>
                                    </select></td> -->
                                <td>{{list.sequence}}</td>
                                <td>
                                    <a aria-label="DeleteCourcePref" href="javascript:void(0);"
                                        [class.disabled]="isDisabled()" class="form-group col-auto"
                                        (click)="DeleteCourcePref(list) && !isDisabled()">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>

                            </tr>
                        </ng-container>
                        <ng-container *ngIf="coursesDetails && coursesDetails.length==0">
                            <tr class="text-center text-color-red">
                                <td colspan="6">
                                    No Data Found
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade modal-right modal-full" data-backdrop="static" data-keyboard="false" data-modal-width="100vw"
        data-modal-offset-upto="992" id="Fullmodal" tabindex="-1" role="dialog" aria-labelledby="exFourLabel"
        aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <button role="button" (click)="getMappingCourses();reloadQuestions()" aria-label="modalclose"
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="la la-close"></i>
                </button>
                <div class="modal-body" id="modalBodyId" *ngIf="aid && pid">
                    <iframe [src]="iframeUrl | safe" id="embededFrame"
                        style="width: 100%; height: 700px; border: 0px; overflow: scroll;"></iframe>
                    <!-- <app-course-search [aid]="aid" [pid]="pid" [ispopup]="true" [passCoursePrefIds]="passCoursePrefIds">
                    </app-course-search> -->
                </div>
            </div>
        </div>
    </div>
</div>