.invalid {
  border: 1px solid #ff0000 !important;
  box-shadow: 0 0 5px #999 !important;
}

.container1 {
  margin: 0 auto;
  padding: 32px 0;
  width: 380px;
  z-index: 1;
}
.wrapper {
  justify-content: center;
  background: linear-gradient(135deg, #fff 0%, #a00614 100%);
  align-items: center;
  display: flex;
  min-height: 100vh;
}
.wrapper::before {
  position: fixed;
  content: "";
  left: -22%;
  top: 60%;
  right: 0;
  width: 125%;
  height: 100%;
  background: linear-gradient(135deg, #f3f6f8 0%, #f8f9fa 100%);
  transform: rotate(15deg);
}
.landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.landing-header__left {
  float: left;
}
.landing-header__right {
  float: right;
}

.pills {
  line-height: 1.42857;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #73809c;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}
