// .table-container {
//     height: 600px;
//   }
//   table {
//     display: flex;
//     flex-flow: column;
//     height: 100%;
//     width: 100%;
//   }
//   table thead {
//     /* head takes the height it requires,
//     and it's not scaled when table is resized */
//     flex: 0 0 auto;
//     width: calc(100%);
//   }
//   table tbody {
//     /* body takes all the remaining available space */
//     flex: 1 1 auto;
//     display: block;
//     overflow-y: scroll;
//   }
//   table tbody tr {
//     width: 100%;
//     height: 50px;
//   }
//   table thead,
//   table tbody tr {
//     display: table;
//     table-layout: fixed;
//   }
//   /* decorations */
//   .table-container {
//     border: 1px solid black;
//     padding: 0.3em;
//   }
//   table {
//     border: 1px solid lightgrey;
//   }
//   table td {
//     padding: 0.3em;
//     border: 1px solid lightgrey;
//   }
//   table th {
//     padding: 0.3em;
//     border: 1px solid lightgrey;
//     color: #fff;
//     background-color: #6c757d;
//     border-color: #6c757d;
//   }

.invalid {
  border: 1px solid #ff0000 !important;
  box-shadow: 0 0 5px #999 !important;
}
.hint-wrap {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: visible;
}
virtual-scroller {
  width: 100%;
  height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
}
 
// my-custom-component {
//   display: block;
//   width: 100%;
//   height: 30px;
// }
virtual-scroller.selfScroll.vertical {
  height: 100vh !important;
}
.scrollable-content[_ngcontent-uob-c0] {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
}
#search:focus + .hint-wrap {
  display: block;
  -webkit-animation: slide-down 0.3s ease-out;
  -moz-animation: slide-down 0.3s ease-out;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.hintoption {
  min-height: 30px;
  min-width: 30px;
  background-size: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin: 0;
}
.search-resultsoption {
  overflow-y: scroll;
}
.active {
  background-color: gray !important;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.border-bottom-right-radius-8 {
  border-bottom-right-radius: 8px !important;
}

.border-bottom-left-radius-8 {
  border-bottom-left-radius: 8px !important;
}

.border-top-left-radius-8 {
  border-top-left-radius: 8px !important;
}
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#upload-photolbl {
  cursor: pointer;
  margin-top: 5px;
}